
<!--==================Center Slogan=====================-->
<div class="centerSlogan_container">
  <div class ="appName">About</div>
 </div>
<p> We are a group of entrepreneurs, indie filmmakers, actors, and techies who saw the need to simplify the initial casting process for indie filmmakers.</p>
<p>We are located in Seattle, WA. Our initial focus is to help Seattle actors get more auditions in Portland, OR, Vancouver, B.C, and Spokane, OR.
</p>

<div id="contact">
<p id="contact" >Send to:</p>
<a href="mailto:casting@tellinapp.com? Subject=Film Makers" target="_top">
casting@tellinapp.com </a>
</div>