
<!--==================Center Slogan=====================-->
<div class ="header">
<h1>Actors</h1>
<p> Fill out the form below and receive audition requests for indie film roles you qualify for.</p>
</div>
<form id="Actors">
	First Name <input class="textbox" type="text" name="firstName">   <br>
	Last Name <input class="textbox" type="text" name="lastName"> <br>
	Gender:    <input type="radio" name="sex" value="male"> Male <input type="radio" name="sex" value="female"> Female <br>
	Age Range <input class="textbox" type="text" name="ageRange"> <br>
	Ethnicity <input class="textbox" type="text" name="ethnicity"> <br>
	Location(s) <input class="textbox" type="text" name="locations"><br>
	Phone <input class="textbox" type="text" name="phoneNumber"> <br>
	Email <input class="textbox" type="text" name="email"> <br>
	Union: <input type="radio" name="union"  value="no"> No <input type="radio" name="union"  value="no"> Yes <br>
	Agent: <input  type="radio" name="hasAgent"  value="no"> No <input type="radio" name="hasAgent"  value="no"> Yes <br>
	Links:


	<input id="submitBtn" type="submit" value="Send">
</form>


</body>
</html>