
  <div class="container paddingBottom60"
      flow-init="{target: '/upload', singleFile: false}"
      flow-file-added="page.prepImg( $file, $event, $flow)">
  <div class="pageHeader">
  <div class="custom-back" ng-click="page.back()" style="z-index: 4;"></div>
    <div class='pageTitle'>Add Applicants</div>
    <h4>{{page.role.name}}</h4>
    <div class="utlBar">
      <div class="sort"></div>
    </div>
  <!-- <div ng-repeat=" file in $flow.files">{{file}}</div> -->
  <!-- <div>{{$flow.files.length}}</div> -->

  <div class="custom-table table-responsive">
    <table class="table table-applicants">
      <thead>
      <tr>
        <th>First name</th>  
        <th>Last name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Requirements</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <!-- LOOP OVER THE USERS -->
      <tr ng-show="page.applicants.length > 0" ng-repeat="applicant in page.applicants">
      {{page.applicants.length}}
        <td>
           <input type="text" class="custom-form"
       ng-model="applicant.name.first" Required >
      </td>
      <td> <input type="text" class="custom-form"
       ng-model="applicant.name.last" Required ></td>
        <td> <input type="text" class="custom-form"
       ng-model="applicant.email" Required ></td>
        <td><div class="custom-dropdown" uib-dropdown is-open="false">
                <span type="text" class="custom-form" uib-dropdown-toggle ng-disabled="disabled">
                  {{applicant.gender || "Gender"}}</span>
                <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                  <li role="menuitem"><a href="#" ng-click="applicant.gender = 'Female'">Female</a></li>
                  <li role="menuitem"><a href="#" ng-click="applicant.gender = 'Male'">Male</a></li>
                </ul>
              </div> </td>
      <td> <input type="text" class="custom-form"
       ng-model="applicant.age" Required>
       </td>
      <td> <h1>hey</h1>   
          <td><img  ng-repeat="file in applicant.files track by $index" style="width:116px; height:80px;" flow-img="file"/></td>
          
      </td>
      
      <td ng-click="page.removeReqt($index)">
        <img src="/assets/imgs/ic_trash.svg" width="16px" height="16px">
      </td>

      </tr>
      <!-- Adding FORM -->
      <tr>
      <td>
           <input type="text" class="custom-form"
       ng-model="page.newData.name.first" Required >
      </td>
      <td> <input type="text" class="custom-form"
       ng-model="page.newData.name.last" Required ></td>
        <td> <input type="text" class="custom-form"
       ng-model="page.newData.email" Required ></td>
        <td><div class="custom-dropdown" uib-dropdown is-open="false">
                <span type="text" class="custom-form" uib-dropdown-toggle ng-disabled="disabled">
                  {{page.newData.gender || "Gender"}}</span>
                <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                  <li role="menuitem"><a href="#" ng-click="page.newData.gender = 'Female'">Female</a></li>
                  <li role="menuitem"><a href="#" ng-click="page.newData.gender = 'Male'">Male</a></li>
                </ul>
              </div> </td>
      <td> <input type="text" class="custom-form"
       ng-model="page.newData.age" Required>
       </td>
      <td>
      <div ng-repeat="rq in page.role.requirements" ng-click="page.newRqmnt(rq.name)">
        
        <!-- <div ng-show="!page.adding"> -->
        <div class="btn btn-primary" flow-btn>{{rq.name}}</div>
        <br><br>

        <!-- <a href="#" ng-click="page.addLink(rq.name)">Add Link</a> -->
        <br><br>
        <!-- </div> -->
        <!-- <div ng-show="page.adding">
        <input ng-model="page.newLink" placeholder="http://"></div>
        </div> -->
      
      </div>
      
      <td></td>
      <td></td>
      </tr>
  </tbody>
  </table>
  <table>
    <tr ng-repeat="file in page.files track by $index">
        <td><img   style="width:116px; height:80px;" flow-img="file"/></td>
    </tr>
  </table>
  <textarea type="text"  width="140"rows="4"
       ng-model="page.newData.message" Required>
  </textarea>
  <ul>
    <li ng-repeat = "link in page.newData.links">
      <span ng-if="link">{{link.source}}</span>
    </li>
  </ul>

  <input ng-model="page.newLink" placeholder="http://">
  <img src="/assets/imgs/ic_plus.svg" width="16px" height="16px" ng-click="page.addLink(page.newLink)">
</div>
<div ng-show="page.processing" class="custom-loader">
  <img style ="height:90px; width:auto" ng-src='/assets/imgs/spin.gif'>
</div>   

<button type="submit" class="custom-btn-primary" ng-click="page.anotherApp()" ng-disabled="page.processing">
        Another one
</button>
<br>
<button type="submit" class="custom-btn-primary-large" ng-click="" ng-disabled="page.processing">
        Save
</button>

