
  <div class="container paddingBottom60"
        flow-init="{target: '/upload', singleFile: true}"
      flow-file-added="projectAside.prepImg( $file, $event, $flow )"
      flow-files-submitted="$flow.upload()"
      flow-file-success="$file.msg = $message">
  <div class="pageHeader">
  <div class="custom-back" ng-click="page.back()" style="z-index: 4;"></div>
    <div class='pageTitle'>Add Applicants</div>
    <h4>{{page.role.name}}</h4>
    <div class="utlBar">
      <div class="sort"></div>
    </div>
    <table>
    <tr ng-repeat="file in $flow.files">
        <td>{{$index+1}}</td>
        <td>{{file.name}}</td>
        <td>{{file.msg}}</td>
    </tr>
  </table>
  <div>{{$flow.files.length}}</div>
  <div ng-repeat=" file in $flow.files">{{file}}</div>
  <div class="custom-table table-responsive">
    <table class="table table-hover table-applicants">
      <thead>
      <tr>
        <th>First name</th>  
        <th>Last name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Requirements</th>
        <th>Comment</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <!-- LOOP OVER THE USERS -->
      <tr>
      <td>
           <input type="text" class="custom-form"
       ng-model="roleAside.roleData.name" Required >
      </td>
      <td> <input type="text" class="custom-form"
       ng-model="roleAside.roleData.name" Required ></td>
        <td>Male</td>
      <td> <input type="text" class="custom-form"
       ng-model="roleAside.roleData.name" Required></td>
      <td>
      <div ng-repeat="rq in page.role.requirements">
        <label>{{rq.name}}</label>
        <br>
        <div>
        <span flow-btn>Upload_File</span>
      </td>
      <td>
       <textarea type="text" class="custom-form"
       ng-model="roleAside.roleData.name" Required></textarea></td>
      <td ng-click="roleAside.removeReqt($index)">
        <img src="/assets/imgs/ic_trash.svg" width="16px" height="16px">
      </td>
      </tr>
  </tbody>
  </table>
</div>