<div class="aside" tabindex="-1" role="dialog">
        <div class="asideTitle">Delete Applicant</div>
        <section>
            <div class="asideSubtitle">Name</div>
            <p>{{currApp.name.first}} {{currApp.name.last}}</p>
        </section>
<!--
        <section>
            <div class="asideSubtitle">Description</div>
            <p>{{prjDetailCtr.roleData.details}}</p>
        </section>
-->
        <!-- <section>
            <div class="checkbox">
                <label>
                	<input type="checkbox" ng-model='aside.input1'>
                	<span></span> All applicants and their files associated with roles in this project will be deleted.</label>
                <label>
                	<input type="checkbox" ng-model='aside.input2'><span></span> This action is irreversible.</label>
            </div>
        </section> -->
        <button type="button" class="custom-btn-primary-large custom-btn-cancel" ng-click="$hide()">Cancel</button>
        <button type="submit" class = "custom-btn-primary-large custom-btn-delete" ng-if="!roleAside.edit" ng-click="deleteAppBtn()">Delete</button>
</div>