<div class="applyPage">
    <div class="applyPageLeftBg"></div>
    <div class="container">
        <img class="applyLogo" ng-src="assets/imgs/logo_BittyCasting_B.svg">
        <section class="col-md-6">
            <div class="applyPageLeft">
                <div class='pageTitle'>About this role</div>
                <div class='pageSubtitle'>{{page.roleData.name}}</div>
                <p>{{page.roleData.description}}</p>
                <div class="div-table">
                    <div class="div-table-row">
                        <div class="div-table-col">Location</div>
                        <div class="div-table-col">{{page.roleData.location}}</div>
                    </div>
                    <div class="div-table-row">
                        <div class="div-table-col">Time</div>
                        <div class="div-table-col">{{page.roleData.end_time |  date:'h:mm a'}} {{ page.roleData.end_date | date: "M/d/yyyy"
                        }}</div>
                    </div>
                    <div class="div-table-row">
                        <div class="div-table-col">Pay term</div>
                        <div class="div-table-col">{{page.roleData.payterms}}</div>
                    </div>
                    <div class="div-table-row">
                        <div class="div-table-col">Gender</div>
                        <div class="div-table-col">{{page.roleData.sex}}</div>
                    </div>
                    <div class="div-table-row">
                        <div class="div-table-col">Age</div>
                        <div class="div-table-col">{{page.roleData.age}}</div>
                    </div>
                </div>

                <div class='pageTitle'>About this project</div>
                <div class='pageSubtitle'>{{page.prjData.name}}</div>
                <p>{{page.prjData.description}}</p>
                <img ng-src="assets/imgs/img_projectCover01.png" class="img-responsive">
            </div>
        </section>
        <!-- Application Form -->                        
        <section class="col-md-6">
            <div class="applyPageRight">
                 <div class='pageTitle'>Apply</div>
                        <form ng-submit="page.submit()">
                            <div class = "form-group">
                                <label>First name</label>
                                <input type = "text" class = "custom-form" ng-model="page.appData.name.first" required>
                            </div>
                            <div class = "form-group">
                                <label>Last name</label>
                                <input type = "text" class = "custom-form" ng-model="page.appData.name.last" required>
                            </div>
                            <div class = "form-group">
                                <label>E-mail</label>
                                <input type = "email" class = "custom-form" ng-model="page.appData.email" required>
                            </div>   
                            <div class = "form-group">
                                <label>Phone number</label>
                                <input type = "tel" class = "custom-form" ng-model="page.appData.phone">
                            </div>                      
                            <div class = "form-group">
                                <label>Youtube</label>
                                <input type = "text" class = "custom-form" ng-model="page.appData.link1">
                            </div>                       
                            <div class = "form-group">
                                <label>Vimeo</label>
                                <input type = "text" class = "custom-form" ng-model="page.appData.link2">
                            </div>   
                            <div class = "form-group" ng-repeat="rq in page.roleData.requirements track by $index">
                            <!-- <div class = "form-group"> -->
                                <label>{{rq.name}}</label><span ng-if="rq.required">*</span>
                                <div class="drop-box" ngf-drop ng-model="page.files[$index]">
                                    <p>Drag and drop &nbsp OR &nbsp 
                                        <a ngf-select ng-model="page.files[$index]" name="file" 
                                        ngf-pattern="'*'" ngf-accept="*" ngf-max-size="1GB" ngf-min-height="100">
                                        upload from computer</a>
                                    </p>
                                </div>
                                Image thumbnail: <img ng-if="page.files[$index]" style="width:100px;height:100px;" ngf-thumbnail="page.files[$index] || '/thumb.jpg'">
                                    <video style="width:100px;height:100px;" ng-if="page.files[$index]"
                                    controls
                                    ngf-src="page.files[$index]">
                                <div class = "custom-alert" ng-if="page.error">
                                    {{page.error}}
                                  </div>
                                  <div ng-if="page.processing">
                                    <h3>Processing</h3>
                                </div>
                            </div>
                            <button type="submit" class="custom-btn-primary-large">Submit</button>
                            <div class="poweredBy">
                                <p>Powered by<a href="/" target="_blank">
                                    <img class="powerLogo" ng-src="assets/imgs/logo_BittyCasting.svg"></a>
                                </p>
                            </div>    
                        </form>
                </div>  
            </section>    
        </div>
</div>