
<div class="applyPage">
    <div class="ap`plyPageLeftBg"></div>
    <div class="container">
        
        <img class="applyLogo" ng-src="assets/imgs/logo_BittyCasting_B.svg">

        <section class="col-md-6">
            <div class="applyPageLeft">
                <div class='pageTitle'>About this role</div>
                <div class='pageSubtitle'>{{page.roleData.name}}</div>
                <p>{{page.roleData.description}}</p>
                <div class="div-table">
                    <div class="div-table-row">
                        <div class="div-table-col">Location</div>
                        <div class="div-table-col">{{page.roleData.location}}</div>
                    </div>
                    <div class="div-table-row">
                        <div class="div-table-col">Time</div>
                        <div class="div-table-col">{{page.roleData.end_time}} {{page.roleData.end_date}}</div>
                    </div>
                    <div class="div-table-row">
                        <div class="div-table-col">Pay term</div>
                        <div class="div-table-col">{{page.roleData.payterms}}</div>
                    </div>
                    <div class="div-table-row">
                        <div class="div-table-col">Gender</div>
                        <div class="div-table-col">{{page.roleData.sex}}</div>
                    </div>
                    <div class="div-table-row">
                        <div class="div-table-col">Age</div>
                        <div class="div-table-col">{{page.roleData.age}}</div>
                    </div>
                </div>

                <div class='pageTitle'>About this project</div>
                <div class='pageSubtitle'>{{page.prjData.name}}</div>
                <p>{{page.prjData.description}}</p>
                <img ng-src="assets/imgs/img_projectCover01.png" class="img-responsive">
            </div>
        </section>

        <section class="col-md-6">
            <div class="applyPageRight">
                 <div class='pageTitle'>Apply</div>
                        <form>
                            <div class = "form-group">
                                <label>First name</label>
                                <input type = "text" class = "custom-form" ng-model="page.appData.name.first" required>
                            </div>
                            <div class = "form-group">
                                <label>Last name</label>
                                <input type = "text" class = "custom-form" ng-model="page.appData.name.last" required>
                            </div>
                            <div class = "form-group">
                                <label>E-mail</label>
                                <input type = "email" class = "custom-form" ng-model="page.appData.email" required>
                            </div>   
                            <div class = "form-group">
                                <label>Phone number</label>
                                <input type = "tel" class = "custom-form" ng-model="page.appData.phone">
                            </div>                      
                            <div class = "form-group">
                                <label>Youtube</label>
                                <input type = "text" class = "custom-form" ng-model="page.appData.link1">
                            </div>                       
                            <div class = "form-group">
                                <label>Vimeo</label>
                                <input type = "text" class = "custom-form" ng-model="page.appData.link2">
                            </div>   
                            <div class = "form-group">
                                <label>Personal site</label>
                                <input type = "text" class = "custom-form" ng-model="page.appData.link3">
                            </div>   
                            
                            <!-- <div class = "form-group" ng-repeat="rq in page.roleData.requirements">
                                <label>{{rq.name}}</label> -->
                                <div class="drop-box" ngf-drop ng-model="page.file"><p>Drag and drop &nbsp OR &nbsp <a ngf-select ng-model="page.file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="10MB" ngf-min-height="100" ngf-resize="{width: 400, height: 400}">upload from computer</a></p></div>
                                <img ngf-thumbnail="page.file || '/thumb.jpg'">
                            <!-- </div> -->

                            <button type="submit" class="custom-btn-primary-large" ng-click="page.submit()">Submit</button>
                            
                            <div class="poweredBy">
                                <p>Powered by<a href="/" target="_blank"><img class="powerLogo" ng-src="assets/imgs/logo_BittyCasting.svg"></a></p>
                            </div>    



                </div>  
            </section>    
        </div>
    
</div>