<div class="aside" tabindex="-1" role="dialog">
  <div class="asideBg">
    <div class="custom-close" ng-click="$hide()"></div>

    <div class="asideTitle">Collaborators</div>
    
<!--
    <section>
      <div class="asideSubtitle">Project</div>
      <p>{{project.name}}</p>
    </section>  
-->
      
    <div class="custom-table" ng-hide="project.collabs_id.length < 1">
    <table class="table table-collaborator">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="collab in project.collabs_id">
                <td><span>{{collab.userName.first || collab.email}} {{collab.userName.last}}</span></td>
                <td>
                    <span ng-if="collab.accepted">Accepted</span>
                    <span ng-if="!collab.responded">Pending</span>
<!--                    <span ng-if="collab.responded">Responded</span>-->
                    <!-- <span ng-if="!collab.responded && !collab.accepted">(Email Sent)</span> -->
                </td>
                <td>
                    <span class="btn btn-standard" ng-click="page.removeBtn(collab.userID)"><img src="/assets/imgs/ic_trash.svg" width="16px" height="16px"></span>
                </td>
            </tr>
        </tbody>
    </table>  
    </div>
          
<!--
    <ul>
      <li ng-repeat="collab in project.collabs_id">
        <span>{{collab.userName.first}} {{collab.userName.last}}</span>
        <span ng-if="collab.accepted">Accepted</span>
        <span ng-if="!collab.accepted">Not accepted</span>
        <span ng-if="collab.responded">Responded</span>
        <span ng-if="!collab.responded">Not responded</span>
        <span class="btn btn-standard" ng-click="page.removeBtn(collab.userID)">Remove</span>
      </li>
    </ul>
      <br>
-->
      
<!--
      
      <label>Invite</label>
      <input type="text" placeholder="{{ page.emailPlaceHolder||'Email'}}"
       ng-model="page.guestEmail">
-->
      
      
      <div class="form-group">
          <p>Invite others to collaborate in this project:</p>
          <input class="custom-form" type="text" placeholder="{{ page.emailPlaceHolder||'E-mail address'}}"
          ng-model="page.guestEmail">
      </div>
      
      
      
    <button type="button" class="custom-btn-primary-large"
             ng-click="page.inviteBtn()">Invite</button>
  </div>
</div>

