<div class="aside" tabindex="-1" role="dialog">
  <div class="asideBg">
    <div class="asideTitle" ng-if="projectAside.delete">Deleting project: <br><span>{{projectData.name}}</span></div>

<!--
        <label>
          <input type="checkbox" ng-model=projectAside.input1 ngChange="projectAside.eval()">
          <span></span>
          All roles associated with this project will be deleted.
        </label>
-->
        <p>All applicants and their files associated with roles in this project will be deleted. This action is irreversible.</p>

    <button type="button" class="custom-btn-primary-large custom-btn-cancel" ng-click="$hide()">Cancel</button>

    <button type="submit" class="custom-btn-primary-large custom-btn-delete" ng-click="projectAside.delete(projectData)">Delete</button>

  </div>
</div>


