<div class="centerSlogan_container">
  <div class ="appName">Filmmakers</div>
</div>

<p> Send us an email with a title and a summary for your project, character breakdowns and play for each character, auditioning deadlines and contact info. We'll follow up with you by phone to get the smaller details and ensure we understand the project, then you can start casting right away</p><br>
<div id="contact">
<p id="contact" >Send to:</p>
<a href="mailto:casting@tellinapp.com? Subject=Film Makers" target="_top">
casting@tellinapp.com</a>
</div>
</body>
</html>