<div class="aside" tabindex="-1" role="dialog">
  <div class="asideBg">

    <div class="asideTitle">Feedback</div>

    <div ng-if="!login.processing"
         type="button"
         class="custom-close"
         ng-click="$hide()">
    </div>  
    
    <div class="asideDesMessage">  
      <p>We strive for providing the best experience for you. Please share with us your thoughts about our site by filling out the following form or send it to <a href="mailto:support@bittycasting.com">support@bittycasting.com</a>. Every message will be carefully reviewed. Thank you!</p>
    </div>
    
    <form>
      <!-- ERROR ICON -->
      <div class="custom-alert" ng-if="login.error">
        {{login.error}}
      </div>

      <div class="form-group">
        <label>Title</label>
        <div class="custom-dropdown" uib-dropdown is-open="false">
                <span type="text" class="custom-form" uib-dropdown-toggle ng-disabled="disabled">Select the type of the message</span>
                <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                  <li role="menuitem"><a href="#">Feature suggestion</a></li>
                  <li role="menuitem"><a href="#">Bug</a></li>
                  <li role="menuitem"><a href="#">Other</a></li>
                </ul>
        </div> 
      </div>
        
      <div class="form-group">
        <label>Your E-mail</label>
        <input type="email" class="custom-form" ng-model="user.userData.email">
      </div>

      <div class="form-group">
        <label>Message</label>
            <textarea rows="{{roleAside.D_Row||4}}" cols="40"
                      ng-change="TAChange()"
                      class="custom-form-textarea"
                      ng-model="">
            </textarea>
      </div>

        
      <button type="submit" class="custom-btn-primary-large">
        <span>Submit</span>
      </button>

    </form>

    <div class="custom-loader" ng-if="login.processing"><img src='/assets/imgs/spin.gif'></div>

  </div>
</div>
