
<div class=pageHeader>
    
  <div class='pageTitle'>My projects</div>
    
  <div class="projectHeader">
  	<button class='custom-btn-secondary-small' ng-click="home.newPrjBtn()"> + Create project</button>
  </div>
    
</div>

<div class="utlBar">
  <span style="size:34px;"
    class="glyphicon glyphicon-th"
    ng-click="home.toggleView()">
  </span>
</div>

<div class="mainContent">
    
  	<ul class='projects' ng-show="home.gridView">
        
  		<li ng-repeat-start="project in home.projects">
            
            <div class="card"> 
                
                <div class="cardImg"></div>
                
                <div class="cardInfo">
                {{project._id}}
                    <a href="/projectDetails/{{project._id}}" class="md-headline"><div class="cardTitle">{{project.name}}</div></a>
                    <div class="cardSubTitle">Number of roles</div>

                    <div class='actionBar'>
                        <ul>
                            <li class="trashcan" ng-click='home.deleteBtn(project)'></li>
                            <li class="duplicate"></li>
                        </ul>
                        <!--span class="glyphicon glyphicon-duplicate"></span>
                        <span class="glyphicon glyphicon-trash" ng-click='home.deleteBtn(project)'></span-->
                    </div>
                    
                </div>    

            </div>
            
        </li>    
        
        <li ng-repeat-end> </li>
    </ul>

    <table class = "table table-bordered table-striped" ng-show="!home.gridView">
      <thead>
          <tr>
              <th>Name</th>
              <th>Details</th>
              <th>Date</th>
          </tr>
      </thead>

      <tbody> 
      <!-- LOOP OVER THE USERS -->
          <tr ng-repeat = "project in home.projects">
              <td>{{ project.name }}</td>
              <td>{{ project.details }}</td>
              <td>{{ project.date }}</td>
              <td> <a href = "#"
                  ng-click = ""
                  class = "btn btn-primary"> Delete</a></td>
          </tr>
      </tbody>    
      </table>
    
</div>