
<div class=pageHeader>
    
  <div class='pageTitle'>My projects</div>
    
  <div class="projectHeader">
  	<button class='custom-btn-secondary-small' ng-click="home.newPrjBtn()"> + Create project</button>
  </div>
    
</div>


<div class="mainContent">
    
  	<ul class='projects'>
  		<li ng-repeat-start="project in home.projects">
        <div class="card">    
          <a href="/projectDetails/project._id"class="md-headline">{{project.name}}</a>
          <div class='actionBar'>
            <span class="glyphicon glyphicon-duplicate"></span>
            <span class="glyphicon glyphicon-trash" ng-click='home.deleteBtn(project)'></span>
          </div>
        </div>
        </li>    
        <li ng-repeat-end> </li>
    </ul>
    
</div>