<div class="aside" tabindex="-1" role="dialog">
      <h2>Sign in</h2>
      <form ng-required='true' ng-submit ="login.doLogin()">

          <!-- USERNAME INPUT -->
          <div class = "form-group">
            <label> Email </label>
            <input type="text" class = "form-control"
            ng-model="login.loginData.email">
          </div>

          <!-- PASSWORD INPUT -->

          <div class = "form-group">
            <label> Password </label>
            <input type = "password" class = "form-control"
              ng-model ="login.loginData.password">
          </div>
          <!-- ERROR ICON -->
          <div class = "alert alert-danger" ng-if="login.error">
            {{login.error}}
          </div>
          <button type="submit" class "btn btn-default" ng-if = "!login.processing">
          <span >Login</span>
          </button>

          <img style="padding-right: auto;"ng-if="login.processing" src='/assets/images/login_spinner.svg'>

           <button ng-if="!login.processing" type="button" class="close" ng-click="$hide()">Cancel</button>
      </form>
</div>