<div class="aside" tabindex="-1" role="dialog">
  <div class="asideBg">

    <div class="asideTitle">Log in</div>

    <div ng-if="!login.processing"
         type="button"
         class="custom-close"
         ng-click="$hide()"></div>

    <!-- <button type="submit" class="custom-btn-primary-large btn-registerFB" ng-click="user.checkFB()">Log in with Facebook</button>  
      
    <div class="dividerOR">OR</div>   -->
      
      
    <form>
      <!-- USERNAME INPUT -->
      <div class="form-group">
        <label>E-mail</label>
        <input type="text" class="custom-form" ng-model="email">
      </div>
      <!-- PASSWORD INPUT -->
      <div class="form-group" ng-hide=login.resendMode>
        <label>Password</label>
        <input type="password" class="custom-form" ng-model="password" >
      </div>
      <!-- ERROR ICON -->
      <div class="custom-alert" ng-if="login.error">
        {{login.error}}
      </div>
      <button ng-hide="login.resendMode"
              ng-click="login.doLogin(email,password)"
              class="custom-btn-primary-large no-animate">
        <span>Log in</span>
      </button>

      <button ng-show="login.resendMode"
              ng-click="login.resendEmail(email)"
              class="custom-btn-primary-large no-animate">
        <span>Resend email</span>
      </button>
    </form>

    <div class="asideMessage marginTop20">
        <p>Forget password?
        <!-- <a ng-hide="login.resetPassword" href="#" ng-click="nav.resetPass()">Reset</a> -->
        <a ng-hide="login.resetPassword"
        href="mailto:support@bittycasting.com">support@bittycasting.com</a>
        </p>
      </div>
      
      <p>Don't have an account? <a ng-click="nav.signup()">Sign up</a></p>
    </div>

    <div class="custom-loader" ng-if="login.processing"><img src='/assets/imgs/spin.gif'></div>

  </div>
</div>
