<div class="aside" tabindex="-1" role="dialog">
  <div class="asideBg">

    <div class="asideTitle">Sign in</div>

    <div ng-if="!login.processing"
         type="button"
         class="custom-close"
         ng-click="$hide()"></div>

    <form ng-submit="login.doLogin(email,password)">
      <!-- ERROR ICON -->
      <div class="custom-alert" ng-if="login.error">
        {{login.error}}
      </div>
      <!-- USERNAME INPUT -->
      <div class="form-group">
        <label>E-mail</label>
        <input type="text" class="custom-form" ng-model="email">
      </div>
      <!-- PASSWORD INPUT -->
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="custom-form" ng-model="password" >
      </div>
      <button type="submit" class="custom-btn-primary-large">
        <span>Sign in</span>
      </button>

    </form>

    <div class="asideMessage marginTop20">
      <p>Forget password? Send us an email:<br>
        <a href="mailto:support@bittycasting.com">support@bittycasting.com</a>
      </div>
      
      <!-- <p>Don't have an account? <a ng-click="nav.signup()">Sign up</a></p> -->
    </div>

    <div class="custom-loader" ng-if="login.processing"><img src='/assets/imgs/spin.gif'></div>

  </div>
</div>
