<div class="aside" tabindex="-1" role="dialog">
  <div class="asideBg">
    <div class="asideTitle">Add Applicant</div>
    <div type="button" class="custom-close" ng-click="$hide()"></div>
      
    <div class = "form-group">
        <label>First name<span></span></label>
        <input type="text" class="custom-form" ng-model="page.newData.name.first" Required>
    </div>
    <div class = "form-group">
        <label>Last name<span class='required'></span></label>
        <input type="text" class="custom-form" ng-model="page.newData.name.last" Required >
    </div>
    <div class = "form-group">
        <label>E-mail<span></span></label>
        <input type="text" class="custom-form" ng-model="page.newData.email" Required >
    </div>   
    <div class = "form-group">
        <label>Phone number</label>
        <input type="tel" class="custom-form" ng-model="page.newData.phone">
    </div>

    <div class = "form-group">
    <label>Agent name (if applicable)</label>
        <input type="text" class="custom-form" ng-model="page.newData.agent">
    </div>


    <div class = "form-group">
    <label>Message/Links</label>
    <textarea ng-model="page.newData.message" rows="5" class="custom-form-textarea"></textarea>  
    </textarea>
    </div>                                            

    <div class = "form-group">
   
        <div class="div-table">
            <div class="div-table-row"
                        ng-repeat="rq in page.role.requirements track by $index">
                    <div class="div-table-col-attachments">{{rq.name}}</div>
<!-- link -->

<!-- show and hide vm.appSHLinks[currApp][req.id] === false -->
                    <div class="div-table-col-attachments"
                                    ng-show="page.appSHLinks[appNdx][$index] &&
                                page.ifRequirement(rq.name, applicant.files)">
                        <span class="custom-form">
                            <input ng-model="applicant.links[$index].source"
                                         placeholder="http://">
                            <img class="upload-cancel" src="/assets/imgs/ic_cross_lightgrey.svg" ng-click="page.togAppLinkBtn(appNdx, $index);">
                        </span>
                    </div>	

<!-- preview -->									
                <div class="div-table-col-attachments">
<!-- repeat --> 		                
                    <span ng-if="file.requirement === rq.name" ng-repeat="file in applicant.files track by $index">
                        <img ngf-thumbnail="file.file ||'Attachment'"/>
                        <video controls ngf-src="file.file"></video>
                        <span style="display: inline;">{{file.file.name | limitTo:18}}</span>

                            <img class="upload-cancel"
                                        src="/assets/imgs/ic_cross_lightgrey.svg"
                                        ng-click="
                                        page.removeElFrmArray($index, applicant.files)">
                     </span><!-- end repeat -->
                     </div>
<!-- Upload/Link -->
                <div ng-show="!page.appSHLinks[appNdx][$index]
                 && page.ifRequirement(rq.name, applicant.files)"
                 class="div-table-col-attachments">
                    <a ngf-select="page.onFileSelectApplicants(			page.newFile,applicant.files)"
                        ng-model="page.newFile" name="file" 
                        ngf-pattern="'application/pdf,image/*,video/*'"
                        ngf-accept="'application/pdf,image/*,video/*'"
                        ngf-before
                        ngf-before-model-change= "errors = '' "
                        ngf-min-size="100"
                        ngf-max-size="250MB"
                        ngf-model-invalid="errors"
                        ng-click="page.newRqmnt(rq.name);">
                        Upload
                    </a>/
                    <a ng-href="#"
                         ng-click="page.togAppLinkBtn(appNdx, $index);page.newRqmnt(rq.name);">Link</a>
               </div>
        </div>
        </div>
        
    </div><!-- end form-group -->
    
    
    
    
    
    <div ng-if="errors" class ="custom-alert" >
    <p>Whoops, the file format was invalid.</p>
    <p ng-if="errors.requirements"> {{errors.requirements.message}}</p>
    </div>
    <div ng-if="ppv.message"  class ="custom-alert">
    {{ppv.message}}
    </div>   
    <div ng-show="ppv.processing" class="custom-loader"><img style ="height:60px; width:auto"
    ng-src='/assets/imgs/spin.gif'></div>  

    <button type="submit" ng-show="!ppv.processing" class="custom-btn-primary-large">Submit</button>  
      
      
      
  </div>
</div>
