<div class="aside" tabindex="-1" role="dialog">
  <div class="asideBg">
    <div class="asideTitle">New Password</div>
    <div class="custom-close" ng-hide="user.inviteReg" ng-click="$hide()"></div>
    <form class="container-page">
      
      <div class="form-group">
        <label>New password</label>
        <input type="password" class="custom-form" ng-model="aside.pass">
      </div>
      <div class="form-group">
        <label>Confirm</label>
        <input type="password" class="custom-form" ng-model="aside.pass1">
      </div>
      <!-- ERROR ICON -->
        <div class="custom-alert" ng-if="aside.message">
          {{aside.message}}
        </div>

      <button type="submit" class="custom-btn-primary-large"
               ng-click="aside.submitBtn(aside.pass,aside.pass1)">Reset Password</button>
    </form>
    <div class="asideMessage" ng-controller="navCtrl as nav">
      <br>
      <p>Already have an account? <a ng-click="nav.signin(); $hide()">Sign in</a></p>
    </div>
  </div>
</div>
