<div class="container">
<div class="col-md-6 col-md-offset-3">
    
    <div class = "sectionTitle">Privacy policy</div>
    <div class = "sectionTitleDivider"></div>
    
    <p>This Privacy Policy applies to www.bittycasting.com, and any other site that may be operated by or for Bitty Casting, LLC (together, the "Websites"). It explains how we collect information from users of the Websites and how we use such information. Your use of the Websites constitutes your acceptance of this Privacy Policy. Please also read our Terms of Use, which govern the basic operation of the Websites. If you do not agree with the terms of this Privacy Policy or the Terms of Use, you should immediately stop using or visiting the Websites.</p>
 
    <div class="privacyTitle">1. The Information We Collect and Use</div>
 
<div class="privacySubtitle">A. Non-Personally Identifiable Information</div>
 
<p>When your computer or mobile device contacts our web servers, our web servers automatically collect usage information. Such usage information includes information about usage and navigation of our Site. It can include the number and frequency of visits to each web page and the length of stay, browser type, referrer data that identifies the web page visited prior and subsequent to visiting our Site, and IP addresses. We also may determine the applicable technology available in order to serve the most appropriate version of a web page, e-mail, advertising or promotional announcement or similar service. This information is used to analyze and improve this Site and to provide a fulfilling and relevant experience.</p>
 
<div class="privacySubtitle">B. Personally Identifiable Information.</div>
 
<p>We also collect personally identifiable information specifically provided to us. We reserve the right, but have no obligation, to monitor information, comments or other content that you voluntarily disclose and post to the Websites. We reserve the right to remove any such information or material for any reason or no reason, including without limitation, if in our sole opinion such information or material violates, or may violate, any applicable law or the Terms of Use or to protect or defend our rights or property or those of any third party. We also reserve the right to remove information upon the request of any third party.</p>
 
<p>We reserve the right to investigate abuses on the Websites and enforce and apply this Privacy Policy, the Terms of Use and any other terms or conditions applicable to the Websites or the use thereof. We may disclose information about you to third parties if we have a good faith belief that such disclosure is reasonably necessary to (1) take action regarding suspected illegal activities; (2) enforce or apply the Terms of Use; (3) comply with legal process and law enforcement instructions and orders, such as a search warrant, subpoena, statute, judicial proceeding or other legal process served on us; (4) protect our rights, reputation, and property or that of our users or the public or (5) protect against legal liability.</p>
 
<div class="privacyTitle">2. Data Security</div>
 
<p>Bitty Casting cannot ensure or warrant the security or privacy of any information you transmit to us. We attempt to follow policies and procedures that will protect against unauthorized access to your Personally Identifiable Information. But we can make no guarantees or promises in this regard, and you provide information to us at your own risk.</p>
 
<p>We may store the Personally Identifiable Information we hold about you indefinitely. We may store this information in the United States or we may transfer it to any other country. The data protection laws of the countries where we store your personal data may or may not provide a level of protection equivalent to the laws in your home country. Wherever we hold the data, we will apply the terms of this Privacy Policy.</p>
 
<div class="privacyTitle">3. Children</div>
 
<p>This site is not directed at children under the age of 13 and we endeavor not to knowingly collect any Personally Identifiable Information from children under the age of 13. If a parent or guardian believes that this site has collected the Personally Identifiable Information of a child under the age of 13 without their parent or legal guardian’s consent, please contact bittycasting@bittycasting.com.</p>
 
<div class="privacyTitle">4. Links to Other Websites</div>
 
<p>This Privacy Policy applies only to the Websites. The Websites may contain links to other websites that Bitty Casting may not own or operate. The links from the Websites do not imply that Bitty Casting endorses or has reviewed these websites. The policies and procedures we describe here do not apply to these websites. We neither can control nor are responsible for the privacy practices or content of these websites. We suggest contacting these websites directly for information on their privacy policies.</p>
 
<div class="privacyTitle">5. How To Contact Us</div>
 
<p>You may contact Bitty Casting, LLC regarding our privacy practices at the following email address: bittycasting@bittycasting.com</p>
 
<div class="privacyTitle">6. Changes To The Privacy Policy</div>
 
<p>This Privacy Policy is effective as of February 16, 2016. We reserve the right to change this Privacy Policy at any time. We do not undertake to provide you with personal notice of any changes. In the event of material changes, we will provide notice by means that are reasonable under the circumstances, such as by posting a notice on the Websites. Your continued use of the Websites following the posting of changes to this Privacy Policy means you accept those changes.</p>


</div>   
</div>