<div class="aside" tabindex="-1" role="dialog" flow-prevent-drop
      flow-init="{target: '/upload', singleFile: true}"
      flow-file-added="projectAside.prepImg( $file, $event, $flow )"
      flow-files-submitted="$flow.upload()"
      flow-file-success="$file.msg = $message">
  <div class="asideBg">
    <div class="asideTitle" ng-if="projectAside.NEW">Create project</div>
    <div class="asideTitle" ng-if="!projectAside.NEW">Edit project</div>

    <div type="button" class="custom-close" ng-click="$hide()"></div>

    <form class="container-page">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="custom-form" ng-model="aside.projectData.name" required>
      </div>
      <div class="form-group">
        <!-- <label>Description (Max {{charRmnd}} characters)</label> -->
        <label>Description</label>
        <textarea rows="5" cols="40" class="custom-form-textarea" ng-model="aside.projectData.description"></textarea>
      </div>        
      <div class="form-group">
        <label>Cover photo</label>
      </div>
        <ul class="select-coverphoto-wrapper">
            <li ng-repeat=" photoLink in coverPhotos track by $index">
              <div class="{{projectAside.CPStyling}}"
                    id="{{photoLink.split('/').pop().split('.').shift()}}" 
                    ng-click="projectAside.selectCP(photoLink, $index)"
                    style="background: url({{photoLink}}); background-size: 116px auto;">
              </div>
            </li>
            <li flow-btn>
              <div class="{{projectAside.CPStyling}}"
                    id="cust-cp" 
                    ng-click="projectAside.selectCustCP()">
              <!-- <input type="file" flow-btn/> -->
              <!-- <span ng-if="!$flow.files[0]" class="btn">Upload File</span> -->
              <img ng-if="$flow.files[0]" flow-img="$flow.files[0]" 
              style="width:116px; height:80px;"/>
              </div>
              
              <!-- <table>
                <tr ng-repeat="file in $flow.files">
                    <td>{{$index+1}}</td>
                    <td>{{file.name}}</td>
                    <td>{{file.msg}}</td>
                </tr>
              </table> -->
            </li>
        </ul>

        
        
            
      
        <!--   <button class="custom-btn-primary-large"
                ngf-select ng-model="projectAside.file" 
                name="file" 
                ngf-accept="'image/*'"
                ngf-pattern="'image/*'"
                ngf-min-size="100"
                ngf-max-size="300MB"
                ngf-model-invalid="projectAside.errors"> Upload Photo
        </button> -->
      <button type="submit" class="custom-btn-primary-large" ng-if="projectAside.NEW"
       ng-click="projectAside.save(aside.projectData.name, aside.projectData.description)">
        <span>Create project</span>
      </button>
      <button type="submit" class="custom-btn-primary-large" ng-if="!projectAside.NEW"
      ng-click="projectAside.update(aside.projectData.name, aside.projectData.description)">
        <span>Save</span>
      </button>

    </form>
    <br>
  </div>
</div>
