
<div class="col-md-10 col-md-offset-1">  
    <div class="jumbotron text-center">
    <h1> <span>{{prjDetailCtr.project.name || ""}}</span><br> Characters Casting</h1>
   </div>
    <div class="utilBar">
        <span style="font-size:34px;"
            class ="glyphicon"
            ng-click="prjDetailCtr.back()" >
        <=back </span> 
        <span style="float:right;"
            class="glyphicon glyphicon-th"
            ng-click="prjDetailCtr.toggleView()"></span>
        <div class="projectHeader">
        <button class='custom-btn-secondary-small' 
                ng-click="prjDetailCtr.createBtn()"> + Create role
        </button>
        <button class='custom-btn-secondary-small' ng-click="prjDetailCtr.editPrjBtn()">Edit Project</button>
          </div>
    </div>
<!------------------ GRID VIEW ------------------>
    <ul class= 'roles' ng-show='prjDetailCtr.gridView'>
        <li class="card" ng-repeat-start="role in prjDetailCtr.Roles">
            <h3> {{role.name}}</h3>
            <a href='#/viewauditions/{{role._id}}'> <span>View auditions</span></a>
            <a class = "btn btn-detault" id="projectEdit" href="/#editRole/{{role._id}}">
                <span class='glyphicon glyphicon-pencil '></span></a>
        </li>
        <span ng-repeat-end></span>
    </ul>

</div>
<!------------------ LIST VIEW ------------------>
<table class = "table table-bordered table-striped" ng-show="!prjDetailCtr.gridView">
<thead>
    <tr>
        <th>Name</th>
        <th>Applicants</th>
        <th>Description</th>
        <th>Application Close</th>
    </tr>
</thead>

<tbody> 
<!-- LOOP OVER THE USERS -->
    <tr ng-repeat = "role in prjDetailCtr.Roles">
        <td>{{ role.name }}</td>
        <td>{{role.num_applicants}}
        <td>{{ role.details }}</td>
        <td><span class="tblDate">{{ role.date }}</span>
            <div class='tblToolBar'>
                <!-- Delete Btn-->
                <a href = "#"
                ng-click="prjDetailCtr.deleteBtn(role)"
                class = "btn btn-warning glyphicon 
                glyphicon-headphones">Delete</a>
                <!-- Share Btn -->
                <a href = "#" ng-click = "prjDetailCtr.shareBtn(role)"
                class = "btn btn-primary glyphicon glyphicon-share">Share
                </a>
                <!-- Preview -->
                <a href="#" ng-click="prjDetailCtr.preview(role)"
                    class=" btn btn-info glyphicon glyphicon-eye-open">Preview
                </a>
            </div>
        </td>
    </tr>
</tbody>    

</table>