<div class="col-md-6 col-md-offset-3">  
    <div class="jumbotron text-center">
    <h1> <span>{{project.projectData.name || ""}}</span><br> Characters Casting</h1>
   </div>
    <ul class= 'roles'>
        <li class ="card add"> <a class="card" href='/addRole/{{project.proj_id}}'> <span>Create new role</span>
        </li>
        <li class="card" ng-repeat-start="role in project.Roles">
            <h3> {{role.name}}</h3>
            <a class = "btn btn-detault" id="projectEdit" href="/editRole/{{role._id}}">
                <span class='glyphicon glyphicon-pencil '></span></a>
            <a href='/viewauditions/{{role._id}}'> <span>View auditions</span></a>
        </li>
        <span ng-repeat-end></span>
    </ul>

</div>