
<div class="col-md-10 col-md-offset-1">  
    <div class="jumbotron text-center">
    <h1> <span>{{page.project.name || ""}}</span><br> Characters Casting</h1>
   </div>
    <div class="utilBar">
        <span style="font-size:34px;"
            class ="glyphicon glyphicon-back"
            ng-click="page.back()" >

        ></span>
        <span style="font-size:34px;"
            class="glyphicon glyphicon-th"
            ng-click="page.toggleView()"></span>
          <div class="projectHeader">
            <button class='custom-btn-secondary-small' ng-click="page.createRoleBtn()"> + Create role</button>
          </div>
    </div>
<!------------------ GRID VIEW ------------------>
    <ul class= 'roles' ng-show='page.gridView'>
        <li class="card" ng-repeat-start="role in page.Roles">
            <h3> {{role.name}}</h3>
            <a href='#/viewauditions/{{role._id}}'> <span>View auditions</span></a>
            <a class = "btn btn-detault" id="projectEdit" href="/#editRole/{{role._id}}">
                <span class='glyphicon glyphicon-pencil '></span></a>
        </li>
        <span ng-repeat-end></span>
    </ul>

</div>
<!------------------ LIST VIEW ------------------>
<table class = "table table-bordered table-striped" ng-show="!page.gridView">
<thead>
    <tr>
        <th>Name</th>
        <th>Details</th>
        <th>Date</th>
    </tr>
</thead>

<tbody> 
<!-- LOOP OVER THE USERS -->
    <tr ng-repeat = "role in page.Roles">
        <td>{{ role.name }}</td>
        <td>{{ role.details }}</td>
        <td>{{ role.date }}</td>
        <td><a href = "#"
            ng-click="page.deleteRoleBtn(role._id)"
            class = "btn btn-primary"> Delete</a>
            <a href = "#"
            ng-click = "page.shareRoleBtn()"
            class = "btn btn-primary">
                 <span class="glyphicon glyphicon-share"></a>
        </td>
    </tr>
</tbody>    

</table>