
<div class="container custom-main">
<div class="pageHeader">    
    <div class='pageTitle pageTitleMobileOffset'>{{prjDetailCtr.project.name}}</div>
    <div class="custom-back" ng-click="main.backBtn()"></div>
    <div class="custom-page-action">
        <ul>           
            <li class="custom-btn-secondary-small" ng-click="prjDetailCtr.editPrjBtn()">Edit</li>
        </ul>
    </div>    
    
        <div class="projectDetails col-md-12">
            <section class="col-md-3">
                <img ng-src="assets/imgs/img_projectCover01.png" class="img-responsive">
            </section>
            <section class="col-md-6">
                <p>{{prjDetailCtr.project.description}}</p>
            </section>
            <section class="col-md-3">
                <p>Thumbnails of collaborators</p>
            </section>
        </div>
        <div class="clear"></div>
        <button class='custom-btn-secondary-small' ng-click="prjDetailCtr.createBtn()">+ Create role</button>
</div>
    <div class="custom-table table-responsive">
        <table class = "table table-hover table-project-details" ng-show="!prjDetailCtr.gridView">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>No. of applicants</th>
                    <th>Description</th>
                    <th>Application open until</th>
                </tr>
            </thead>
            <tbody> 
            <!-- LOOP OVER THE USERS -->
                <tr class="animate-repeat" ng-repeat = "role in prjDetailCtr.Roles">
                    <td ng-click='prjDetailCtr.getRoleBtn(role._id)'>{{ role.name }}</td>
                    <td ng-click='prjDetailCtr.getRoleBtn(role._id)'>
                    {{role.num_applicants}}</td>
                    <td ng-click='prjDetailCtr.getRoleBtn(role._id)'>{{ role.description }}</td>
                    <td class="tableHover"><span class="tblDate"> {{role.end_date | date:mediumDate}} @ {{role.end_time | date:'h a'}}</span>
                        
                        <div class="table-utl">
                            <ul>
                                <li ng-click="prjDetailCtr.deleteBtn(role)"></li>
                                <li ng-click = "prjDetailCtr.shareBtn(role)"></li>
                            </ul>
                        </div>                      
                    </td>
                </tr>
            </tbody>    
        </table>
    </div>

</div>
