<div class="aside" tabindex="-1" role="dialog">
    
    <h1 ng-if="!page.existing"> Create page</h1>
    <h1 ng-if="page.existing"> {{message}} </h1>
    <h1> Delete {{name}}</h1>
    {{name}}
        <form class="container-page" ng-submit="page.save()">
            <div class = "form-group name">
                <input type = "text"
                        placeholder="Project name"
                        class = "form-control"
                        ng-model = "page.name">
            </div>
            <textarea rows="4" cols="50" class ="form-control"
                        ng-model = "page.details"
                        placeholder="Project details">
            </textarea>
            <br>
            <div class='form-group'>
             <button type="button" class="btn btn-default" ng-click="$hide()">cancel</button>

            <button type="submit" class="btn btn-primary" ng-if="page.existing" ng-click="page.save()"> Save</button>
            <button type="submit" class="btn btn-primary" ng-if="!page.existing"> Create page</button>
            </div>
        </form>
        <button type="submit" ng-click='delete(page._id)'> Delete</button>
</div>