
<div class="container">

<div class="pageHeader">
    
    <div class='pageTitle'>{{prjDetailCtr.project.name}}</div>
    <div class="custom-back" ng-click="prjDetailCtr.back()"></div>
    <div class="custom-edit" ng-click="prjDetailCtr.editPrjBtn()"></div>
  
        <div class="projectDetails col-md-12">
            <section class="col-md-3">
                <img ng-src="assets/imgs/img_projectCover01.png" class="img-responsive">
            </section>
            <section class="col-md-6">
                <p>{{prjDetailCtr.project.description}}</p>
            </section>
            <section class="col-md-3">
                <p>Thumbnails of collaborators</p>
            </section>
        </div>
        <div class="clear"></div>

        <button class='custom-btn-secondary-small' ng-click="prjDetailCtr.createBtn()">+ Create role</button>
        
<!--
        <div class="utlBar">           
            <div class="sort"></div>
            <div class="gridListToggle">
                <div ng-click="prjDetailCtr.toggleView()"></div>
                <div ng-click="prjDetailCtr.toggleView()"></div>   
            </div>
        </div>    
-->

</div>
      
<!------------------ GRID VIEW ------------------>
    
<!--
    <ul class= 'roles' ng-show='prjDetailCtr.gridView'>
        <li class="card" ng-repeat-start="role in prjDetailCtr.Roles">
            <h3> {{role.name}}</h3>
            <a href='/rolepage/{{role._id}}'> <span>View auditions</span></a>
            <a class = "btn btn-detault" id="projectEdit" href="/#editRole/{{role._id}}">
                <span class='glyphicon glyphicon-pencil '></span></a>
        </li>
        <span ng-repeat-end></span>
    </ul>
-->


<!------------------ LIST VIEW ------------------>
    
    <div class="custom-table table-responsive">
        <table class = "table table-hover table-project-details" ng-show="!prjDetailCtr.gridView">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>No. of applicants</th>
                    <th>Description</th>
                    <th>Application open until</th>
                </tr>
            </thead>

            <tbody> 
            <!-- LOOP OVER THE USERS -->
                <tr ng-repeat = "role in prjDetailCtr.Roles">
                    <td><a href='/rolepage/{{role._id}}'>{{ role.name }}</a></td>
                    <td>{{role.num_applicants}}</td>
                    <td>{{ role.description }}</td>
                    <td><span class="tblDate"> {{role.end_date}}, {{role.end_time }}</span>
                        
                        <div class="table-utl">
                            <ul>
                                <li><a href = "#" ng-click="prjDetailCtr.deleteBtn(role)"></a></li>
                                <li><a href = "#" ng-click = "prjDetailCtr.shareBtn(role)"></a></li>
                            </ul>
                        </div>     
 
<!--
                        <div class='tblToolBar'>
                            
                            <a href = "#"
                            ng-click="prjDetailCtr.deleteBtn(role)"
                            class = "btn btn-warning glyphicon 
                            glyphicon-headphones">Delete</a>
                            
                            <a href = "#" ng-click = "prjDetailCtr.shareBtn(role)"
                            class = "btn btn-primary glyphicon glyphicon-share">Share
                            </a>
                            
                            <a href="#" ng-click="prjDetailCtr.preview(role)"
                                class=" btn btn-info glyphicon glyphicon-eye-open">Preview
                            </a>
                        </div>
-->
                        
                    </td>
                </tr>
            </tbody>    
        </table>
    </div>

</div>
