<div class="aside" tabindex="-1" role="dialog">
  <div class="asideBg">

    <div class="asideTitle">Reset Password</div>

    <div ng-if="!login.processing"
         type="button"
         class="custom-close"
         ng-click="$hide()"></div>

    <form ng-submit="aside.restBtn(email)">
      <!-- ERROR ICON -->
      <div class="custom-alert" ng-if="aside.error">
        {{aside.error}}
      </div>
      <div class="custom-alert" ng-if="aside.message">
        {{aside.message}}
      </div>
      <!-- USERNAME INPUT -->
      <div class="form-group">
        <label>E-mail</label>
        <input type="text" class="custom-form" ng-model="email">
      </div>

      <button type="submit" class="custom-btn-primary-large">Reset</button>
    </form> 

    
    <div class="asideMessage marginTop20">
      <!-- <p>Forget password? -->
      <!-- <br> -->
        <!-- <a ng-hide="login.resetPassword" href="#" ng-click="login.toggleBtn()">Reset Password</a> -->
<!--        <a href="#" ng-click="nav.signin()">Sign in</a>-->
        <!-- </p> -->
        <!-- <a href="mailto:support@bittycasting.com">support@bittycasting.com</a> -->
      </div>
      
      <!-- <p>Don't have an account? <a ng-click="nav.signup()">Sign up</a></p> -->
    </div>

    <div class="custom-loader" ng-if="login.processing"><img src='/assets/imgs/spin.gif'></div>

  </div>
</div>
