<!-- <ppublicview project="page.project"
             roles="roleData" currole="page.curRole"
             toggle='page.togView()'>
</ppublicview> -->

<div ng-if="!viewApp" class="container paddingBottom60">
  <div class="pageHeader">
    <div class="custom-back" ng-click="main.backBtn()" style="z-index: 4;"></div>
    <div class="custom-page-action" style="z-index: 4;">
        <div class="custom-btn-secondary-small btn-share" ng-click="page.shareBtn()">Share</div>
        <div class="custom-btn-secondary-small btn-edit" ng-click="page.editRoleBtn()">Edit</div>
        <div class="custom-btn-secondary-small btn-delete" ng-click="page.deleteRoleBtn(roleData)">Delete</div>
    </div>
    <div class='pageTitle pageTitleMobileOffset col-md-4 col-md-offset-4'>{{roleData.name || "page Casting"}}</div>
    <div class="clear"></div>

      <div class='pageSubtitle col-md-12'>Submission deadline: {{roleData.end_date | date:medium}} {{page.prjClosed}}<span ng-if="page.remaining">({{page.remaining}})</span></div>
    <div class="projectDetails col-md-12">
      <section class="col-md-8">
        <div class="projectDetailsTitle">Description</div>
        <p ng-bind-html="roleData.description | linky"></p>
      </section>
<!--
      <section class="col-md-4">
        <p class="projectDetailsTitle">Info</p>
        <div class="div-table">
          <div class="div-table-row">
            <div class="div-table-col">Location</div>
            <div class="div-table-col">{{roleData.location || "No Info"}}</div>
          </div>
          <!-- <div class="div-table-row">
            <div class="div-table-col">Time</div>
            <div class="div-table-col">{{roleData.end_time | date:'h:mm a'}}, {{ roleData.end_date | date: "M/d/yyyy" ||
              "No end time"}}
            </div>
          </div>
          <div ng-if="roleData.payterms" class="div-table-row">
            <div class="div-table-col">Pay term</div>
            <div class="div-table-col">{{roleData.payterms}}</div>
          </div>
          <div class="div-table-row">
            <div class="div-table-col">Gender</div>
            <div class="div-table-col">{{roleData.sex || "No Info"}}</div>
          </div>
          <div class="div-table-row">
            <div class="div-table-col">Age</div>
            <div class="div-table-col">{{roleData.age || "No Info"}}</div>
          </div>
        </div> 
      </section>-->
      <section class="col-md-4">
        <p class="projectDetailsTitle">Requirements</p>
        <ul>
          <span ng-repeat="rq in roleData.requirements" ><li><p>{{rq.name}}</p></li></span>
        </ul>
      </section>
    </div>
    <div class="clear"></div>

    <div class="custom-page-action-secondary">
      <div class="custom-page-action-secondary-title">
      {{numApps}} applicants
        <!-- <a ng-href="/add_Applicants/role/:id"> + Add applicant</a> -->
        <a href="#">
          
          <!-- <div newApplicantForm> + Add</div> -->
        </a>
      </div>
      <!--
        <ul>
            <li class='custom-btn-secondary-small' ng-click="">Create role</li>
        </ul>-->
    </div>
<!--    <applicantForm>+ Add</applicantForm>-->
    <div class="utlBar">
      <div class="sort"></div>
      <div class="gridListToggle">
        <div ng-style="page.gridStyle" ng-click="page.setGridVw()"></div>
        <div ng-style="page.listStyle" ng-click="page.setListVw()"></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <!-- GRID VIEW -->
  <div class="cardContainer" ng-if="page.gridView">
    <ul class='applicants' ng-repeat="app in page.applicants track by $index">
      <li class="col-lg-3 col-md-4 col-sm-6">
        <div class="card cardApplicants">
            <div ng-if="app.new" class="alert-new">New</div>
            <!-- <div class="fav-applicant">(0)</div> -->
              <img class="fav-applicant-toggle" ng-if="app.favorited" ng-src="/assets/imgs/ic_fav_w_fill.svg" width="20px" vertical-align="middle" ng-click="page.updateFav(app,roleData._id)">

              <img class="fav-applicant-toggle" ng-if="!app.favorited" ng-src="/assets/imgs/ic_fav_w.svg" width="20px" vertical-align="middle" ng-click="page.updateFav(app,roleData._id)">

                <div ng-if="app.headshot" class="card cardApplicants" ng-style="{
                  'background':'url('+ app.headshot+ ') no-repeat center center',
                   'background-size': 'auto 100%', 'background-color': '#242424'}">
                    <!-- <video  controls ngf-src='app.headshot'></video>-->
                    <!-- <div ng-show="!app.headshot" class="card cardApplicants" ng-style="{
                      'background': 'url(/assets/imgs/img_projectCover01.png) no-repeat top center','background-size': '100% auto'}"> -->
                    <a href="" class="md-headline" ng-click="page.viewBtn($index)">
                      <div class="cardInfoBg"></div>
                      <div class="cardScrim"></div>
                      <div class="cardInfo">
                            <a href="" class="md-headline" ng-click="page.viewBtn($index)">
                              <div class="cardTitle">{{app.name.first}} {{app.name.last}}</div>
                            </a>
                            <div class="cardSubTitle">{{ app.updated_date|date:medium}}</div>
                            <div class='actionBar'>
                              <ul>
                                <li class="trashcan" ng-click='page.deleteAsideBtn(app)'></li>
                                <!--                                        <li class="duplicate"></li>-->
                              </ul>
                            </div>
                      </div>
                    </a>
                </div>
            </div>
      </li>
    </ul>

  </div>
  <!-- LIST VIEW -->
  <div ng-show="!viewApp && page.listView" class="custom-table table-responsive">
            <table class="table table-hover table-applicants">
              <thead>
              <tr>
                <th>Headshot</th>  
                <th>Name</th>
                <th>Favorite</th>
                <th>Email</th>
                <th>Phone</th>
              </tr>
              </thead>

              <tbody>
              <!-- LOOP OVER THE USERS -->
              <tr ng-repeat="app in page.applicants track by $index" >
                <td ng-click="page.viewBtn($index)">
                    <div ng-if="app.headshot" ng-style="{
                    'background':'url('+ app.headshot+ ') no-repeat center center', 
                    'background-size': 'auto 100%', 
                    'background-color': '#242424',
                    'width': '60px',
                    'height': '60px'}">
                    </div>
                </td>
                <td ng-click="page.viewBtn($index)">
                    <div ng-if="app.new" class="alert-new">New</div>
                    {{app.name.first}} {{app.name.last}}
                </td>
                <td>
                  <!-- <img ng-src="/assets/imgs/ic_fav_b_fill.svg" width="20px" vertical-align="middle"> --> <!-- <span>(0)</span> -->
                  <img ng-if="app.favorited" ng-src="/assets/imgs/ic_fav_b_fill.svg" width="20px" vertical-align="middle" ng-click="page.updateFav(app,roleData._id)">
                  <img ng-if="!app.favorited" ng-src="/assets/imgs/ic_fav_b.svg" width="20px" vertical-align="middle" ng-click="page.updateFav(app,roleData._id)">
                  <!-- <input type="checkbox" ng-model="app.favorited"
                         ng-change="page.updateFav(app)">
                  </input> -->
                </td>
                <td ng-click="page.viewBtn($index)">
                  {{ app.email }}
                </td>
              <td>
                {{ app.phone || "No contact"}}
                <div class="table-utl">
                  <ul>
                    <li class="trashcan" ng-click='page.deleteAsideBtn(app)'></li>
                    <!--  <li class="duplicate"></li> -->
                  </ul>
                </div>
              </td>
          </tr>
          <tr ng-repeat-end></tr>
          </tbody>
          </table>
    </div>
</div>

<!--Review Page-->
<div ng-show="viewApp">
  <div review></div>
  <div class="reviewBar" ng-show="viewApp" style=" z-index:4;">
    <div class="previous" ng-click="page.lastApp()">Previous</div>
    <div class="next" ng-click="page.nextApp()">Next</div>
  </div>
</div>
<!-- <div newApplicantForm> + Add</div> -->
<!--  -->
</div>
