<div class="aside" tabindex="-1" role="dialog">
  <div class="asideBg">
    <div class="asideTitle">Deleting role:
      <span>{{roleData.name}}</span>
    </div>

    <p>All applicants and their files associated will be deleted. This action is irreversible.</p>

    <button type="button" class="custom-btn-primary-large custom-btn-cancel" ng-click="$hide()">Cancel</button>
    <button type="submit" class="custom-btn-primary-large custom-btn-delete" ng-if="!roleAside.edit"
            ng-click="aside.delete(roleData._id)">Delete
    </button>

  </div>
</div>
