<div class="aside" tabindex="-1" role="dialog">
    <form class="container-roleAside">
        <div class="custom-close" ng-click="$hide()"></div>
        <div class="asideTitle" ng-if="!roleAside.edit">Create role</div>
        <div class="asideTitle" ng-if="roleAside.edit">Edit role</div>
        <div class = "form-group">
            <label>Name</label>
            <input type = "text" class = "custom-form" ng-model = "roleAside.roleData.name">
        </div>
        <div class = "form-group">
            <label>Description (Max 220 characters)</label>
            <textarea rows="5" cols="40" maxlength="220" class = "custom-form-textarea" ng-model = "roleAside.roleData.description"></textarea>
        </div>
        <div class = "form-group">
            <label>Application end date</label>
            <input type='text' class="custom-form" ng-model = "roleAside.roleData.end_date"/>
        </div>
        <div class = "form-group">
            <label>Application end time</label>
            <input type='text' class="custom-form" ng-model = "roleAside.roleData.end_time"/>
        </div>        
        <div class = "form-group">
            <label>Location</label>
            <input type = "text" class = "custom-form" ng-model = "roleAside.roleData.location">
        </div>
        <div class = "form-group">
            <label>Pay terms</label>
            <input type = "text" class = "custom-form" ng-model = "roleAside.roleData.payterms">
        </div>
        <div class = "form-group">
            <label>Age</label>
            <input type = "text" class = "custom-form" ng-model = "roleAside.roleData.age">
        </div>
        <div class = "form-group">
            <label>Gender</label>
            <input type = "text" class = "custom-form" ng-model = "roleAside.roleData.sex">
        </div>      
        
        <section class="custom-table">
            <table class = "table table-application-requirements" ng-show="!roleAside.gridView">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Format</th>
                        <th>Required</th>
                    </tr>
                </thead>
                <tbody> 
                    <!-- LOOP OVER THE USERS -->
                    <tr>
                        <td>Headshot</td>
                        <td></td>
                        <td>                         
                            <input type="checkbox" class="custom-switch" checked />
                        </td>
                        
                    </tr>
                    <tr>
                        <td>Resume</td>
                        <td></td>
                        <td><input type="checkbox" class="custom-switch" checked /></td>
                    </tr>
                    <tr>
                        <td>Cover letter</td>
                        <td></td>
                        <td><input type="checkbox" class="custom-switch" checked /></td>
                    </tr>
                    <tr>
                        <td>Audition Video</td>
                        <td></td>
                        <td><input type="checkbox" class="custom-switch" checked /></td>
                    </tr>
                </tbody>    
            </table>    
        </section>
        
        <button ng-if="!roleAside.edit" type="submit" class="custom-btn-primary-large" ng-click="roleAside.createRoleBtn()">Create role</button>
        <button ng-if="roleAside.edit" type="submit" class="custom-btn-primary-large" ng-click="roleAside.updateRole()">Save</button>

    </form>
    
</div>

