
<div class="col-md-8 col-md-offset-2">
<div class="jumbotron text-center">
        <form class="container-page" ng-submit="page.createCharcter()">
                <h3 class="dark-grey" ng-if="!page.edit">Add Character</h3>
                <h3 class="dark-grey" ng-if="page.edit">Edit Character</h3>
               
                <div class = "form-group">
                        <input type = "text"
                            placeholder="Character Name"
                            class = "form-control"
                            ng-model = "page.roleData.name">
                </div>
                <div class = "form-group">
                 	<textarea rows="15" cols="70" class =""form-control"
                        placeholder="Project Detail"
                        ng-model = "page.roleData.details"
                        ></textarea>
            	</div>
            	<div class = "form-group">
            		<label>Headshot</label>
            		<input type="checkbox" 
                        ng-model="page.roleData.headshot"
                        value = false;
                        ng-true-value=true
                        ng-false-value=false>

            		<label>Resume</label>
            		<input type="checkbox"
			       		ng-model="page.roleData.resume"
                        ng-true-value=true
                        ng-false-value=false>
            	
            		<label>Cover letter</label>
            		<input type="checkbox"
			       		ng-model="page.roleData.CV"
                        ng-true-value=true
                        ng-false-value=false>
            	
            	
            		<label>Audition Video</label>
            		<input type="checkbox"
			       		ng-model="page.roleData.auditionVideo"
                        ng-true-value=true
                        ng-false-value=false>
            	
            	
            		<label>Monologue</label>
            		<input type="checkbox"
			       		ng-model="page.roleData.monolougue"
			       		ng-true-value=true
			       		ng-false-value=false>
            	</div>
                <button ng-if="!page.edit" type="submit" class="btn btn-primary" ng-click="page.createRole()">Add role</button>
                <button ng-if="page.edit" type="submit" class="btn btn-primary" ng-click="page.updateRole()">Save changes</button>
        </form>
</div>
</div>