<div class="aside" tabindex="-1" role="dialog">
    <div class="asideBg">
    <form>
        <div class="asideTitle" ng-if="!roleAside.edit">Share Role</div>
        <div class="custom-close" ng-click="$hide()"></div>
        <div class="form-group">
            <input class="custom-form" type="text" ng-model="textToCopy">
        </div>
        <button class="custom-btn-secondary-large btn-preview" ng-click="preview()">Preview</button>
        <button clipboard class="custom-btn-primary-large" text="textToCopy" on-copied="success()" on-error="fail(err)">Copy link</button>
    </form>
    </div>
</div>