<div class="aside" tabindex="-1" role="dialog">
  <div class="asideBg">

    <div class="asideTitle">Sign in</div>

    <div ng-if="!login.processing"
         type="button"
         class="custom-close"
         ng-click="$hide()"></div>
      <div class='pageTitle'>Welcome to BittyCasting</div>
      <input ng-model-options='{debounce: 1000}'
            class="custom-form"
            type="email" 
            ng-model="vm.email"
            ng-change="vm.emailChanging(vm.email)">
      
      <div ng-show="vm.message" class ="custom-alert-success">
        {{vm.message}}
      </div>
      <div ng-show="vm.error" class ="custom-alert">
        {{vm.error}}
      </div>
      
      <button type="submit" class="custom-btn-primary-large" ng-click="vm.send()">Send Email</button>

    <div class="custom-loader" ng-if="login.processing"><img src='/assets/imgs/spin.gif'></div>

  </div>
</div>
