<div class="custom-main">
  <div class="container">
    <div class="col-md-4 col-md-offset-4">

      <div class='pageTitle'>Welcome to BittyCasting</div>

      
      <input type="email" class="custom-form"
                ng-model="vm.email"
                ng-model-options='{ debounce: 1000 }'
                ng-change="vm.emailChanging(vm.email)">
      
      <div ng-show="vm.message"  class ="custom-alert">
        {{vm.message}}
      </div>
      
      <button type="submit" class="custom-btn-primary-large" ng-click="page()">Submit</button>

<!--       <div class="asideMessage paddingBottom60">
        <p>By clicking on “Sign up for free”, I agree to BittyCasting’s <a href="/terms_of_service" target="_blank">terms
          of service.</a></p>
      </div> -->

    </div>
  </div>
</div>
