<div class="aside" tabindex="-1" role="dialog">
  <div class="asideBg">
    <div class="asideTitle">Register For Free</div>
    <div class="custom-close" ng-hide="user.inviteReg" ng-click="$hide()"></div>
      
    <button type="submit" class="custom-btn-primary-large btn-registerFB" ng-click="user.checkFB()">Log in with Facebook</button>  
      
    <div class="dividerOR">OR</div>
      
    <form class="container-page">
      
      <div class="form-group">
        <label>E-mail</label>
        <input type="email" class="custom-form"
                ng-model="user.userData.email"
                ng-model-options='{ debounce: 1000 }'
                ng-change="user.emailChanging(user.userData.email)"
                required>
      </div>
      <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" class="custom-form"
                ng-model="user.userData.name"
                ng-change="user.nameChanging(user.userData.name)"
                required>
      </div>
      <div class="form-group">
        <label>Create password</label>
        <input type="password" class="custom-form" ng-model="user.userData.password" required>
      </div>
      <!-- ERROR ICON -->
        <div class="custom-alert" ng-if="user.message">
          {{user.message}}
        </div>

      <button type="submit" class="custom-btn-primary-large" ng-click="user.saveUser()">Register with E-mail</button>
        
    </form>
      
      
    <div class="asideMessage marginTop20">
      <p>By clicking on “Log in with Facebook” or "Register with E-mail", I agree to BittyCasting’s <a href="/terms_of_service">terms of service.</a>
      </p>

      <p>Already have an account? <a ng-click="nav.signin()">Log in</a></p>
    </div>
  </div>
</div>
