<div class="footer">

    <div class="container">
        <p>BittyCasting. Copyright © 2016</p>
        <div class = "custom-nav-footer">
            <ul>
                <li><a href = "/privacy_policy">Privacy policy</a></li>
                <li><a href = "/terms_of_service">Terms of service</a></li>
            </ul>
        </div>
        <div class="social">
            <ul>
                <li ng-click='main.facebook()'></li>
                <li ng-click="main.twitter()"></li>
            </ul>
        </div>
    </div>

</div>