div#video-pane {
  width: 70%;
  height: 60%;
  background-color: blue;
  float: left; }

div#audition-pane {
  width: 30%;
  height: 60%;
  background-color: navy;
  float: left; }

div#bio-pane {
  float: left;
  width: 100%;
  height: 25%;
  background-color: orange; }

video {
  width: 100%;
  height: 100%; }

/***************************
           Font
***************************/
/***************************
          Colors
***************************/
/***************************
     Reusable elements
***************************/
.custom-btn-primary-small {
  border: 0;
  color: white;
  background-color: #06bcc2;
  padding: 9px 20px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease; }
  .custom-btn-primary-small:hover, .custom-btn-primary-small:focus {
    background-color: #444444;
    color: white;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease; }

.custom-btn-secondary-small {
  border: 0;
  color: white;
  background-color: #666666;
  padding: 9px 20px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease; }
  .custom-btn-secondary-small:hover, .custom-btn-secondary-small:focus {
    background-color: #444444;
    color: white;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease; }

/***************************
           Global
***************************/
.pagination, .carousel, .panel-title a {
  cursor: pointer; }

.container-fluid {
  position: relative;
  top: 8px;
  padding: 1px; }

body {
  font-family: "Open Sans", sans-serif;
  background-color: #eeeeee; }

/***************************
           Header
***************************/
header {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1); }

.logoNav {
  fill: #242424;
  width: 150px;
  float: left;
  padding: 17px 0 17px 15px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .logoNav:hover {
    fill: #06bcc2;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }

.custom-site-nav ul {
  position: relative;
  float: right; }
  .custom-site-nav ul:after {
    content: "";
    background: #ccc;
    position: absolute;
    top: 18px;
    right: 0;
    height: 19px;
    width: 1px; }
.custom-site-nav li a {
  display: inline;
  font-size: 12px;
  color: #666666;
  line-height: 56px;
  margin: 0 35px 0 0;
  padding: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
.custom-site-nav li a:hover, .custom-site-nav li a:focus {
  background-color: transparent;
  color: #06bcc2;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.custom-site-nav-in ul {
  float: left; }
.custom-site-nav-in li a {
  display: inline;
  font-size: 12px;
  color: #666666;
  line-height: 56px;
  margin: 0 0 0 35px;
  padding: 0 0 0 35px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
.custom-site-nav-in li a:hover, .custom-site-nav-in li a:focus {
  background-color: transparent;
  color: #06bcc2;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
.custom-site-nav-in li a:first-child {
  border-left: #ccc 1px solid; }

.custom-action-nav ul {
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 0; }
.custom-action-nav li {
  display: inline; }
  .custom-action-nav li a {
    font-size: 12px;
    line-height: 56px;
    margin-left: 35px;
    text-decoration: none; }
  .custom-action-nav li:first-child a {
    color: #666666;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .custom-action-nav li:first-child a:hover, .custom-action-nav li:first-child a:focus {
    background-color: transparent;
    color: #06bcc2;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }

/***************************
           Homepage
***************************/
div.mainContent {
  margin: 0 -10px; }

div.pageHeader {
  margin-bottom: 28px; }

.pageTitle {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 24px;
  color: #242424;
  text-transform: uppercase;
  letter-spacing: 6px;
  padding: 40px 0; }

ul.projects {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%; }

ul.projects li {
  width: 25%;
  display: block;
  float: left;
  margin: 0; }

.card {
  color: #fff;
  margin: 10px;
  height: 187px;
  text-align: center;
  background-color: grey;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1); }
  .card .cardImg {
    height: 125px;
    background-color: burlywood; }
  .card .cardInfo {
    background-color: white;
    height: 62px; }
    .card .cardInfo a {
      text-decoration: none; }
    .card .cardInfo .cardTitle {
      font-size: 12px;
      color: #242424;
      padding-top: 4px; }
    .card .cardInfo .cardSubTitle {
      font-size: 10px;
      color: #999999; }
    .card .cardInfo .actionBar {
      padding: 16px 0; }
      .card .cardInfo .actionBar ul {
        left: 50%;
        position: relative;
        margin-left: -44px;
        list-style: none;
        padding: 0; }
        .card .cardInfo .actionBar ul li {
          width: 36px;
          height: 36px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%;
          border: 1px solid #666666;
          float: left;
          margin: 0;
          margin-right: 16px;
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -ms-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease; }
          .card .cardInfo .actionBar ul li:nth-child(1) {
            background: url("/assets/imgs/ic_trash.svg") no-repeat center center white;
            background-size: 16px 16px; }
          .card .cardInfo .actionBar ul li:nth-child(2) {
            background: url("/assets/imgs/ic_duplicate.svg") no-repeat center center white;
            background-size: 16px 16px; }
          .card .cardInfo .actionBar ul li:last-child {
            margin-right: 0; }
          .card .cardInfo .actionBar ul li:hover, .card .cardInfo .actionBar ul li:focus {
            background-color: #eeeeee;
            cursor: pointer;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease; }

/*# sourceMappingURL=style.css.map */
