/***************************
          Colors
***************************/
/***************************
           Font
***************************/
p {
  font-size: 12px;
  line-height: 24px; }

/***************************
     Reusable elements
***************************/
.clear {
  clear: both; }

.custom-disable {
  opacity: 0.4;
  filter: alpha(opacity=40); }

.custom-btn-primary-small {
  border: 0;
  color: white;
  background-color: #06bcc2;
  padding: 9px 20px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease; }
  .custom-btn-primary-small:hover, .custom-btn-primary-small:focus {
    background-color: #069A9F;
    color: white;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease; }

.custom-btn-primary-large {
  width: 100%;
  border: 0;
  color: white;
  background-color: #06bcc2;
  padding: 12px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease; }
  .custom-btn-primary-large:hover, .custom-btn-primary-large:focus {
    background-color: #069A9F;
    color: white;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease; }

.custom-btn-secondary-small {
  border: 0;
  color: white;
  background-color: #666666;
  padding: 9px 20px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease; }
  .custom-btn-secondary-small:hover, .custom-btn-secondary-small:focus {
    background-color: #444444;
    color: white;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease; }

/***************************
           Global
***************************/
.pagination, .carousel, .panel-title a {
  cursor: pointer; }

.container-fluid {
  position: relative;
  top: 8px;
  padding: 1px; }

html, body {
  font-family: "Open Sans", sans-serif;
  background: #eeeeee;
  height: 100%;
  position: relative; }

/***************************
           Header
***************************/
header {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10; }

nav {
  padding: 0 5px; }

.logoNav {
  fill: #242424;
  height: 55px;
  float: left;
  padding: 17px 0 17px 15px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .logoNav:hover {
    fill: #06bcc2;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }

.logoNav_signin {
  fill: #242424;
  height: 46px;
  float: left;
  padding: 10px 0 0 15px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .logoNav_signin:hover {
    fill: #06bcc2;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }

.custom-site-nav ul {
  position: relative;
  float: right; }
  .custom-site-nav ul:after {
    content: "";
    background: #ccc;
    position: absolute;
    top: 18px;
    right: 0;
    height: 19px;
    width: 1px; }
.custom-site-nav li a {
  display: inline;
  font-size: 12px;
  color: #666666;
  line-height: 56px;
  margin: 0 35px 0 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
.custom-site-nav li a:hover, .custom-site-nav li a:focus {
  background-color: transparent;
  color: #06bcc2;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
.custom-site-nav li a.active {
  color: #06bcc2; }

.custom-site-nav-in ul {
  float: left; }
.custom-site-nav-in li a {
  display: inline;
  font-size: 12px;
  color: #666666;
  line-height: 56px;
  margin: 0 0 0 0px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
.custom-site-nav-in li a:hover, .custom-site-nav-in li a:focus {
  background-color: transparent;
  color: #06bcc2;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.custom-action-nav ul {
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 0; }
.custom-action-nav li {
  display: inline; }
  .custom-action-nav li a {
    font-size: 12px;
    line-height: 56px;
    margin-left: 35px;
    text-decoration: none; }
  .custom-action-nav li:first-child a {
    color: #666666;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .custom-action-nav li:first-child a:hover, .custom-action-nav li:first-child a:focus {
    background-color: transparent;
    color: #06bcc2;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }

/***************************
          Landing page
***************************/
section .sectionTitle {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #242424;
  margin: 60px 0 15px 0; }
section .sectionTitleDivider {
  margin: 0 auto 60px auto;
  width: 80px;
  border-top: 1px solid #242424; }
section.home {
  height: 660px;
  width: 100%;
  background: url("/assets/imgs/img_indexCover.png") no-repeat 50% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  section.home .brandMessage {
    position: absolute;
    top: 190px;
    left: 50%;
    margin-left: -28%;
    width: 55%;
    text-align: center; }
    section.home .brandMessage .brandHeading {
      font-size: 36px;
      color: #242424;
      letter-spacing: 4;
      margin-bottom: 30px; }
    section.home .brandMessage .brandSubHeading {
      font-size: 20px;
      color: #666666;
      line-height: 38px;
      margin-bottom: 60px; }
    section.home .brandMessage .brandRequest input {
      width: 70%;
      height: 60px;
      padding: 12px;
      border: 1px solid #cccccc;
      display: inline-block; }
      section.home .brandMessage .brandRequest input:focus {
        outline: none;
        border: 1px solid #06bcc2; }
    section.home .brandMessage .brandRequest button {
      width: 29%;
      height: 60px;
      display: inline-block; }
    section.home .brandMessage .brandRequest p {
      font-size: 12px;
      color: #999999;
      text-align: left;
      margin: 10px 0 0 2px; }
section.features {
  height: 600px;
  background-color: white; }
section.pricing {
  height: 600px; }
section.stories {
  height: 600px;
  background-color: white; }
section.contact {
  height: 600px; }

/***************************
           Homepage
***************************/
div.mainContent {
  margin: 0 -10px; }

div.pageHeader {
  margin: 56px 5px 28px 5px;
  position: relative; }
  div.pageHeader .utlBar {
    float: right; }
    div.pageHeader .utlBar .gridListToggle div {
      width: 20px;
      height: 20px;
      background-color: red;
      display: inline-block;
      margin: 4px 0 0 4px;
      cursor: pointer;
      opacity: 0.5;
      filter: alpha(opacity=50); }
      div.pageHeader .utlBar .gridListToggle div:nth-child(1) {
        background: url("/assets/imgs/ic_grid.svg") no-repeat center center;
        background-size: 16px 16px; }
      div.pageHeader .utlBar .gridListToggle div:nth-child(2) {
        background: url("/assets/imgs/ic_list.svg") no-repeat center center;
        background-size: 18px 18px; }
      div.pageHeader .utlBar .gridListToggle div:hover, div.pageHeader .utlBar .gridListToggle div:focus {
        opacity: 1;
        filter: alpha(opacity=100); }

.pageTitle {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 24px;
  color: #242424;
  text-transform: uppercase;
  letter-spacing: 6px;
  padding: 40px 0; }

ul.projects {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%; }

ul.projects li {
  margin: 0 0 30px 0; }

.card {
  color: #fff;
  height: 187px;
  text-align: center;
  background: url("/assets/imgs/img_projectCover01.png") no-repeat top center;
  background-size: 100% auto;
  position: relative;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .card .cardScrim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 187px;
    background-color: transparent;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .card .cardScrim:hover {
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  .card .cardInfoBg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    z-index: 1; }
  .card:hover > .cardInfo .actionBar {
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .card:hover > .cardInfo {
    -ms-transform: translate(0, -50px);
    /* IE 9 */
    -webkit-transform: translate(0, -50px);
    /* Safari */
    transform: translate(0, -50px);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .card .cardInfo {
    background-color: white;
    height: 60px;
    padding-top: 10px;
    position: relative;
    top: 65%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 2; }
    .card .cardInfo a {
      text-decoration: none; }
    .card .cardInfo .cardTitle {
      font-size: 12px;
      color: #242424;
      margin-bottom: 2px; }
    .card .cardInfo .cardSubTitle {
      font-size: 10px;
      color: #999999; }
    .card .cardInfo .actionBar {
      width: 100%;
      padding: 16px 0;
      opacity: 0;
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -ms-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease; }
      .card .cardInfo .actionBar ul {
        left: 50%;
        position: relative;
        margin-left: -45px;
        list-style: none;
        padding: 0; }
        .card .cardInfo .actionBar ul li {
          width: 36px;
          height: 36px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%;
          border: 1px solid #666666;
          float: left;
          margin: 0;
          margin-right: 16px;
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -ms-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease; }
          .card .cardInfo .actionBar ul li:nth-child(1) {
            background: url("/assets/imgs/ic_trash.svg") no-repeat center center white;
            background-size: 16px 16px; }
          .card .cardInfo .actionBar ul li:nth-child(2) {
            background: url("/assets/imgs/ic_duplicate.svg") no-repeat center center white;
            background-size: 16px 16px; }
          .card .cardInfo .actionBar ul li:last-child {
            margin-right: 0; }
          .card .cardInfo .actionBar ul li:hover, .card .cardInfo .actionBar ul li:focus {
            background-color: #eeeeee;
            cursor: pointer;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease; }

.custom-table .table-project-overview thead tr th:nth-child(1) {
  width: 20%;
  cursor: pointer; }
.custom-table .table-project-overview thead tr th:nth-child(2) {
  width: 60%; }
.custom-table .table-project-overview thead tr th:nth-child(3) {
  width: 20%; }
.custom-table .table-project-overview .table-utl ul li:nth-child(1) {
  background: url("/assets/imgs/ic_trash.svg") no-repeat center center white;
  background-size: 16px 16px; }
.custom-table .table-project-overview .table-utl ul li:nth-child(2) {
  background: url("/assets/imgs/ic_duplicate.svg") no-repeat center center white;
  background-size: 16px 16px; }
.custom-table .table-project-details thead tr th:nth-child(1) {
  width: 20%;
  cursor: pointer; }
.custom-table .table-project-details thead tr th:nth-child(2) {
  width: 20%; }
.custom-table .table-project-details thead tr th:nth-child(3) {
  width: 40%; }
.custom-table .table-project-details thead tr th:nth-child(4) {
  width: 20%; }
.custom-table .table-project-details .table-utl ul li:nth-child(1) {
  background: url("/assets/imgs/ic_trash.svg") no-repeat center center white;
  background-size: 16px 16px; }
.custom-table .table-project-details .table-utl ul li:nth-child(2) {
  background: url("/assets/imgs/ic_share.svg") no-repeat center center white;
  background-size: 16px 16px; }
.custom-table .table-application-requirements thead tr th:nth-child(1) {
  width: 40%;
  cursor: pointer; }
.custom-table .table-application-requirements thead tr th:nth-child(2) {
  width: 40%; }
.custom-table .table-application-requirements thead tr th:nth-child(3) {
  width: 20%; }
.custom-table .table {
  font-size: 12px; }
  .custom-table .table tbody tr {
    cursor: pointer; }
    .custom-table .table tbody tr:hover > td .table-utl {
      opacity: 1;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
      -ms-transform: translate(-20px, 0);
      /* IE 9 */
      -webkit-transform: translate(-20px, 0);
      /* Safari */
      transform: translate(-20px, 0); }
  .custom-table .table tbody tr td {
    vertical-align: middle; }
    .custom-table .table tbody tr td .table-utl {
      height: 36px;
      opacity: 0;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
      margin-right: -20px; }
      .custom-table .table tbody tr td .table-utl ul {
        height: 36px; }
        .custom-table .table tbody tr td .table-utl ul li {
          display: inline;
          float: right;
          margin-left: 6px;
          width: 36px;
          height: 36px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%;
          border: 1px solid #666666;
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -ms-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease; }
          .custom-table .table tbody tr td .table-utl ul li:hover, .custom-table .table tbody tr td .table-utl ul li:focus {
            background-color: #eeeeee;
            cursor: pointer;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease; }
.custom-table .table > thead > tr > th {
  border-bottom: 2px solid #999999; }
.custom-table .table-hover > tbody > tr:hover {
  background-color: #cccccc; }

/***************************
          Side panel
***************************/
.aside {
  width: 400px;
  padding: 0 20px 20px 20px; }
  .aside .asideMessage p {
    font-size: 10px;
    color: #999999;
    line-height: 18px;
    margin-bottom: 8px; }
    .aside .asideMessage p a {
      color: #06bcc2;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      .aside .asideMessage p a:hover, .aside .asideMessage p a:focus {
        color: #48d8d8;
        text-decoration: none;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease; }
  .aside .custom-close {
    width: 28px;
    height: 28px;
    background-color: red;
    position: absolute;
    top: 20px;
    right: 20px;
    background: url("/assets/imgs/ic_cross.svg") no-repeat center center;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .aside .custom-close:hover, .aside .custom-close:focus {
      cursor: pointer;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
      -ms-transform: rotate(180deg);
      /* IE 9 */
      -webkit-transform: rotate(180deg);
      /* Safari */
      transform: rotate(180deg); }
  .aside .asideTitle {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #242424;
    letter-spacing: 6px;
    padding: 20px; }
  .aside .asideSubtitle {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    color: #999999;
    font-weight: 400; }
  .aside section {
    margin-bottom: 28px; }
  .aside .custom-btn-cancel {
    background-color: #666666;
    width: 170px;
    float: left;
    margin-right: 20px;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease; }
    .aside .custom-btn-cancel:hover, .aside .custom-btn-cancel:focus {
      background-color: #444444;
      -webkit-transition: all 0.8s ease;
      -moz-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
      -o-transition: all 0.8s ease;
      transition: all 0.8s ease; }
  .aside .custom-btn-delete {
    background-color: #D84444;
    width: 170px;
    float: left;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease; }
    .aside .custom-btn-delete:hover, .aside .custom-btn-delete:focus {
      background-color: #ba3a3a;
      -webkit-transition: all 0.8s ease;
      -moz-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
      -o-transition: all 0.8s ease;
      transition: all 0.8s ease; }
  .aside .checkbox label {
    display: block;
    font-size: 12px;
    line-height: 24px;
    padding-left: 0;
    margin: 0 0 10px 24px; }
    .aside .checkbox label input[type="checkbox"] {
      display: none; }
    .aside .checkbox label span {
      float: left;
      margin: 3px 3px 0 -24px;
      display: inline-block;
      width: 18px;
      height: 18px;
      border: none;
      background-color: #cccccc;
      cursor: pointer;
      vertical-align: middle; }
    .aside .checkbox label input:checked + span {
      background: url("/assets/imgs/ic_check.svg") no-repeat center center #cccccc;
      background-size: 12px 12px; }

.aside-backdrop.am-fade, .modal-backdrop.am-fade {
  background: rgba(0, 0, 0, 0.7);
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.form-group {
  margin-bottom: 28px; }
  .form-group label {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    color: #999999;
    font-weight: 400; }
  .form-group input {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #242424; }
    .form-group input:focus {
      outline: none;
      border-bottom: 1px solid #06bcc2; }
  .form-group input:-webkit-autofill, .form-group textarea:-webkit-autofill, .form-group select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset; }

.custom-form {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42857143; }

.custom-form-textarea {
  resize: vertical;
  display: block;
  width: 100%;
  padding: 6px 0;
  line-height: 1.42857143;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #242424; }
  .custom-form-textarea:focus {
    outline: none;
    border-bottom: 1px solid #06bcc2; }

.custom-alert {
  color: #D84444;
  outline: none;
  padding: 12px;
  font-size: 12px;
  border: 1px solid #D84444;
  margin-bottom: 20px; }

/***************************
      Project overview
***************************/
.custom-back {
  position: absolute;
  top: 42px;
  left: 0;
  width: 28px;
  height: 28px;
  background: url("/assets/imgs/ic_back.svg") no-repeat center center;
  background-size: 24px 24px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .custom-back:hover, .custom-back:focus {
    cursor: pointer;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }

.custom-edit {
  position: absolute;
  top: 42px;
  right: 0;
  width: 28px;
  height: 28px;
  background: url("/assets/imgs/ic_edit.svg") no-repeat center center;
  background-size: 24px 24px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .custom-edit:hover, .custom-edit:focus {
    cursor: pointer;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }

.projectDetails {
  background-color: white;
  padding: 0;
  margin-bottom: 28px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1); }
  .projectDetails section {
    padding: 15px; }
    .projectDetails section:nth-child(1) img {
      margin-top: -30px; }

/***************************
          Footer
***************************/
.footer {
  height: 56px;
  line-height: 56px;
  color: white;
  background-color: #06bcc2;
  font-size: 12px;
  margin-top: 60px; }
  .footer .container {
    padding: 0 20px; }
  .footer p {
    padding-right: 35px;
    line-height: 56px;
    margin: 0;
    display: inline;
    float: left;
    position: relative; }
    .footer p:after {
      content: "";
      background: white;
      position: absolute;
      top: 18px;
      right: 0;
      height: 19px;
      width: 1px; }
  .footer .custom-nav-footer ul {
    float: left;
    margin: 0;
    -webkit-padding-start: 0px; }
    .footer .custom-nav-footer ul li {
      display: inline;
      margin: 0 0 0 35px; }
      .footer .custom-nav-footer ul li a {
        color: white;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease; }
        .footer .custom-nav-footer ul li a:hover, .footer .custom-nav-footer ul li a:focus {
          cursor: pointer;
          opacity: 0.7;
          filter: alpha(opacity=70);
          text-decoration: none;
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -ms-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease; }
  .footer .social ul li {
    float: right;
    display: inline;
    margin: 4px 0 0 20px;
    background-color: red;
    width: 28px;
    height: 28px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .footer .social ul li:nth-child(1) {
      background: url("/assets/imgs/ic_social_fb.svg") no-repeat center center;
      background-size: 22px 22px; }
    .footer .social ul li:nth-child(2) {
      background: url("/assets/imgs/ic_social_twitter.svg") no-repeat center center;
      background-size: 24px 24px; }
    .footer .social ul li:hover, .footer .social ul li:focus {
      cursor: pointer;
      opacity: 0.7;
      filter: alpha(opacity=70);
      text-decoration: none;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }

/*# sourceMappingURL=style.css.map */
