<div class="container custom-main"> 
	<div class="pageHeader">
		<h1>Review Page </h1>
		<div >
		<div ng-click="viewApp = !viewApp "><= BACK</div>    
		     <ul style=" margin-left:auto; margin-right:auto; width:800px; height:400px" rn-carousel rn-carousel-controls rn-carousel-transition="fadeAndSlide" rn-carousel-index="carouselIndex" rn-carousel-buffered class="carousel1">
                <li style="width:800px; height:400px" ng-repeat="slide in slides track by slide.id" ng-class="'id-' + slide.id">
                    <div style="width:800px; height:400px" ng-style="{'background-image': 'url(' + slide.img + ')'}"  class="bgimage">
                        #{{ slide.id }}
                    </div>
                </li>
            </ul>

		</div>
	</div>
	<div>Name: {{currApp.name.first}} {{currApp.name.last}}</div>
	<div>"Email:"{{currApp.email}}</div>
	<div  ng-if="currApp.phone">Phone number:{{currApp.phone}}</div>
	<div>
		<span ng-repeat="sup in currApp.suppliments">
			"Requirement:"<a ng-href="{{sup.source}}">Link</a>
			"Name:"{{req.name}}
		</span>
	</div>
</div>