
<div class="reviewHeader">
    <container>
        <div class="reviewHeaderContent col-md-4 col-md-offset-4"><p>{{currIndex +1}}/{{numApps}} applicants for {{roleData.name}}</p></div>
        <div class="custom-close-overlay" ng-click="page.backBtn()"></div>
    </container>
</div>
<div class="clear"></div>

<div class="container"> 
	
    <div class='pageTitle'>{{currApp.name.first}} {{currApp.name.last}}</div>

		<div class="reviewCarousel">  
            <div class="reviewCarouselImg">
                <ul rn-carousel rn-carousel-control-allow-loop rn-carousel-controls rn-carousel-transition="fadeAndSlide" rn-carousel-index="carouselIndex" rn-carousel-buffered>
                    <li ng-repeat="slide in slides track by slide.id" ng-class="'id-' + slide.id">	
                          <div class="reviewCarouselImgBg" ng-if="slide.image" 
                               ng-style="{
                                         'background': 'url(' + slide.source + ') no-repeat center center',
                                         'background-size': 'auto 400px'}
                               "  >
<!--                              #{{ slide.id }}-->
                          </div>
                          <video class="reviewCarouselVideo" ng-if="slide.video"  controls ngf-src='slide.source'>
                        </video>
                    </li>
                 
            </div>
<!--
            <div class="reviewCarouselPagination">
                <ul>
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
-->
		</div>


	<div class="reviewInfo col-md-6">
        
        <table>
            <tbody> 
                <tr>
                    <td>Name</td>
                    <td>{{currApp.name.first}} {{currApp.name.last}}</td>
                </tr>

                <tr>
                    <td>E-mail</td>
                    <td>{{currApp.email}}</td>
                </tr>

                <tr ng-if="currApp.phone">
                    <td>Phone</td>
                    <td>{{currApp.phone}}</td>
                </tr>
                
                  <tr>
                    <td ng-if="currApp.links.length > 0">links: </td>
                    <td ng-repeat="link in currApp.links">
                        <a target="_blank" ng-href="{{link.source}}">{{link.name}} / </a>
                    </td>
                </tr>

                <tr>
                    <td ng-if="documents">Document: </td>
                    <td ng-repeat="doc in documents">
                        <ul>
                            <li><a target="_blank" ng-href="{{doc.source}}" download={{doc.name}}>{{doc.name}}</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td ng-if="images">Image: </td>
                     <td ng-repeat="image in images">
                         <ul>
                            <li><a target="_blank" ng-href="{{image.source}}" download={{image.name}}>{{image.name}}</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td ng-if="video">Video</td>
                    <td >
                        <ul>
                        <li><a ng-repeat="video in video" target="_blank" ng-href="{{video.source}}" download="{{video.name}}">{{video.name}}</a></li>
                        </ul>
                    </td>
                </tr>
                
            </tbody>
        </table>

	</div>

</div>