
/***************************
          Colors
***************************/

$color-grey-darkest: #242424;
$color-grey-darken: #444444;
$color-grey-dark: #666666;
$color-grey: #999999;
$color-grey-light: #cccccc;
$color-grey-lightest: #eeeeee;

$color-blue-darken: #069A9F;
$color-blue: #06bcc2;
$color-blue-lighten: #48d8d8;

$color-red-darken: #ba3a3a;
$color-red: #D84444;

/***************************
           Font
***************************/

$font-primary: 'Open Sans', sans-serif;

$font-size-page-heading: 24px;
$font-size-page-subheading: 16px;

$font-size-side-heading: 20px;
$font-size-side-formtitle: 10px;

$font-size-large: 16px;
$font-size-medium: 14px;
$font-size-regular: 12px;
$font-size-small: 10px;

/***************************
     Reusable elements
***************************/

.clear {clear: both;}

.custom-disable {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.singInOffset {
    margin-top: 100px;
}

@mixin box-shadow($top, $left, $blur, $spread, $color) {
    -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
}

@mixin transition($property, $duration, $ease) {
    -webkit-transition: $property $duration $ease;
    -moz-transition: $property $duration $ease;
    -ms-transition: $property $duration $ease;
    -o-transition: $property $duration $ease;
    transition: $property $duration $ease;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin rotate($degree) {
    -ms-transform: rotate($degree); /* IE 9 */
    -webkit-transform: rotate($degree); /* Safari */
    transform: rotate($degree);
}

@mixin scale($witdh, $height) {
    -ms-transform: scale($witdh, $height); /* IE 9 */
    -webkit-transform: scale($witdh, $height); /* Safari */
    transform: scale($witdh, $height);
}

@mixin translate($left, $down) {
    -ms-transform: translate($left, $down); /* IE 9 */
   	-webkit-transform: translate($left, $down); /* Safari */
    transform: translate($left, $down);
}

.custom-btn-primary-small {   
        border: 0;
        color: white;  
        background-color: $color-blue; 
        padding: 9px 20px;
        @include box-shadow(0px, 1px, 1px, 0px, rgba(0,0,0,0.2));
        @include transition(all, 0.8s, ease);
        &:hover, &:focus {
            background-color: $color-blue-darken;
            color: white; 
            @include transition(all, 0.8s, ease);
        }  
}

.custom-btn-primary-large {  
        width: 100%;
        border: 0;
        color: white;  
        background-color: $color-blue; 
        padding: 12px;
        @include box-shadow(0px, 1px, 1px, 0px, rgba(0,0,0,0.2));
        @include transition(all, 0.8s, ease);
        &:hover, &:focus {
            background-color: $color-blue-darken;
            color: white; 
            @include transition(all, 0.8s, ease);
        }  
}

.custom-btn-secondary-small {   
        border: 0;
        color: white;  
        background-color: $color-grey-dark; 
        padding: 9px 20px;
        @include box-shadow(0px, 1px, 1px, 0px, rgba(0,0,0,0.2));
        @include transition(all, 0.8s, ease);
        &:hover, &:focus {
            background-color: $color-grey-darken;
            color: white; 
            @include transition(all, 0.8s, ease);
        }  
}

p {
    font-size: $font-size-regular;
    line-height: 24px;
}

a {
    text-decoration: none;
    color: $color-blue;
    @include transition(all, 0.2s, ease);
    &:hover, &:focus {
        text-decoration: none;
        color: $color-blue-lighten;
        @include transition(all, 0.2s, ease);
    }  
}

/***************************
           Global
***************************/

.pagination, .carousel, .panel-title a { cursor: pointer; }

.container-fluid{
	position:relative;
	top:8px;
	padding:1px;
}

html, body {
    font-family: $font-primary;
    background: #eeeeee;
    height: 100%;
    position: relative;
}

/***************************
           Header
***************************/

header {
    background-color: #ffffff;
    @include box-shadow(0px, 2px, 3px, 0px, rgba(0,0,0,0.1));
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
}

nav {
    
}

.navbar-toggle {
    width: 55px;
    height: 55px;
    background-color: red;
    cursor: pointer;
    margin: 0;
    background: url("/assets/imgs/ic_list.svg") no-repeat center center;
    background-size: 20px 20px;
    @include transition(all, 0.2s, ease);
    &:hover, &:focus {
        @include rotate(-90deg);
        @include transition(all, 0.2s, ease);
    }
}

.logoNav {
        fill: $color-grey-darkest;
        height: 55px;
        float: left;
        padding: 17px 0 17px 15px;
        @include transition(all, 0.2s, ease);
        &:hover {
            fill: $color-blue;
            @include transition(all, 0.2s, ease);
        }   
    }

.logoNav_signin {
        fill: $color-grey-darkest;
        height: 46px;
        float: left;
        padding: 10px 0 0 15px;
        @include transition(all, 0.2s, ease);
        &:hover {
            fill: $color-blue;
            @include transition(all, 0.2s, ease);
        }   
    }

.custom-site-nav { 

    ul {
        position: relative;
        float: right;
        &:after {
            content:""; 
            background: #ccc; 
            position: absolute; 
            top: 18px; 
            right: 0; 
            height: 19px; 
            width: 1px;
        }
    }
    
    li {
        a {  
            
            display: inline;
            font-size: $font-size-regular;
            color: $color-grey-dark;
            line-height: 56px;
            margin: 0 35px 0 0;
            padding: 0;
            cursor: pointer;
            @include transition(all, 0.2s, ease);
        }       
        a:hover, a:focus  {
            background-color: transparent;
            color: $color-blue;
            @include transition(all, 0.2s, ease);
        }
        
        a.active {
            color: $color-blue;
        }
        
    }
}

.custom-site-nav-in {
    position: relative;
    ul {float: right;}
    
    li {
        
        a {             
            display: inline;
            font-size: $font-size-regular;
            color: $color-grey-dark;
            line-height: 56px;
            margin: 0 0 0 0px;
            @include transition(all, 0.2s, ease);
        }       
        a:hover, a:focus  {
            background-color: transparent;
            color: $color-blue;
            @include transition(all, 0.2s, ease);
        }  
        
        &:nth-child(2) {
            position: absolute;
            top:0;
            left: 50px;
        }

    }

}



.custom-action-nav  {
    
    ul {
        list-style-type: none;
        float: right;
        margin: 0;
        padding: 0;
    }
    
    li {           
        display: inline;
        
        a {
            font-size: $font-size-regular;        
            line-height: 56px;
            margin-left: 35px;
            text-decoration: none;
        }   
        
        &:first-child { 
            
            a {
                color: $color-grey-dark;
                @include transition(all, 0.2s, ease);
            }
            a:hover, a:focus  {
                background-color: transparent;
                color: $color-blue;
                @include transition(all, 0.2s, ease);
            }

        } 

    }

}

/***************************
          Landing page
***************************/

.sectionTitle {
    font-weight: 600;
    font-size: $font-size-page-heading;
    text-align: center;
    color: $color-grey-darkest;
    margin: 60px 0 15px 0;
    letter-spacing: 4;
    text-transform: uppercase;
}

.sectionTitleDivider {
    margin: 0 auto 60px auto;
    width: 80px;
    border-top: 1px solid $color-grey-darkest; 
}

section {
    
    &.home {
        width: 100%; 
        padding-bottom: 140px;
        background: url("/assets/imgs/img_indexCover.png") no-repeat 50% 50% fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    
        .brandMessage {
            padding-top: 190px;
            text-align: center;   
            width: 100%;
            .brandHeading {
                font-size: 36px;
                color: $color-grey-darkest;
                letter-spacing: 2;
                margin-bottom: 30px;
            } 
            .brandSubHeading {
                font-size: 20px;
                color: $color-grey-dark;
                line-height: 38px;
                margin-bottom: 60px;
            } 
            .brandRequest {                
                input {
                    height: 60px;
                    width: 100%;
                    padding: 12px;
                    border: 1px solid $color-grey-light;
                    display: inline-block;
                    margin-bottom: 10px;
                    &:focus {
                        outline: none;
                        border: 1px solid $color-blue;
                    }
                }
                button {
                    width: 100%;
                    height: 60px;
                    display: inline-block;}               
                p {
                    font-size: $font-size-regular;
                    color: $color-grey;
                    text-align: left;
                    margin: 10px 0 0 3px;
                }
            }
            

        }
    
    }
       
    &.features {
        padding-bottom: 60px;
        background-color: white;
        .featureDes {
            img {
                margin: 0 160px 0 -80px;
            }
            margin-bottom: 60px;
            .featureTitle {
                font-size: 24px;
                color: $color-blue;
                margin: 20px 0 10px 0;
            }
            .featureSubtitle {
                font-size: 16px;
                color: $color-grey;
                line-height: 24px;
                margin-bottom: 10px;
            }
        }
    }
    
    &.pricing {
        padding-bottom: -20px;
        .targetCustomer {   
            
            div {
                text-align: center;
                padding: 0 30px;
                img {
                    width: 80px;
                    height: 80px;
                    padding-bottom: 20px;
                    margin: 0 auto;}
            }
        }
        
        .pricingPlanWrapper {
            padding-top: 30px;
            margin: 0 0 0 0;
            .pricingPlan {
                background-color: white;
                @include box-shadow(0px, 2px, 2px, 0px, rgba(0,0,0,0.1));
                padding: 15px;
                margin: 80px 0 20px 0;
                .pricingCost {
                    background-color: $color-blue;
                    text-align: center;
                    font-size: 20px;
                    color: white;
                    margin: -30px 15px 15px 15px;
                    padding: 15px;
                }
                .freePlan {
                    text-align: left;
                    .pricingCost {
                        padding-top: 30px;
                        height: 86px;}
                }
                .paidPlan {
                    text-align: center;
                    img {width: 32px; height: 32px; margin: 20px 0;}
                }
            }
            .pricingfor {
                margin-bottom: 60px;
                .pricingforImg {
                    float: left;
                    width: 40px;
                    height: 40px;
                    vertical-align: center;
                    &.pricingforImg01 {background: url("/assets/imgs/ic_people.svg") no-repeat center center;}
                    &.pricingforImg02 {background: url("/assets/imgs/ic_camcorder.svg") no-repeat center center;}
                    &.pricingforImg03 {background: url("/assets/imgs/ic_lightbulb.svg") no-repeat center center;}
                    &.pricingforImg04 {background: url("/assets/imgs/ic_dart.svg") no-repeat center center;}
                }
                p {padding-left: 50px;}
            }
        }     
    }
    
    &.about {
        padding-bottom: 60px;
//        background: url("/assets/imgs/img_aboutBg.png") no-repeat center bottom white;
        background-color: white;
        p:last-child {
            margin-top: 30px;
        }
    }
    
    &.contact {
        text-align: center;
        .contactInfo {
            display: inline-block;
            text-align: left;

            img {
                width: 32px;
                height: 32px;
                vertical-align: middle;
                margin-right: 10px;
                display: inline;
            }
            p {
                font-size: $font-size-medium;
                
            }
        }
    }
}

/***************************
           Homepage
***************************/

.custom-main {
    padding-bottom: 60px;}

.cardContainer{
    margin: 0 -15px 0 -15px;
}

div.pageHeader{
    margin: 56px 0 28px 0;
    position: relative;
    
    .utlBar {
        float: right;
        
        .gridListToggle {
            
            div {
                width: 20px;
                height: 20px;
                background-color: red;
                display: inline-block;
                margin: 4px 0 0 4px;
                cursor: pointer;
                opacity: 0.5;
                filter: alpha(opacity=50);
                
                &:nth-child(1) {
                    background: url("/assets/imgs/ic_grid.svg") no-repeat center center;
                    background-size: 16px 16px;
                }
                
                &:nth-child(2) {
                    background: url("/assets/imgs/ic_list.svg") no-repeat center center;
                    background-size: 18px 18px;
                }
                
                &:hover, &:focus {
                    opacity: 1;
                    filter: alpha(opacity=100);
                }
                
            }
        }
    }

}

.pageTitle{
    font-family: $font-primary;
	text-align: center;
	font-size: $font-size-page-heading;
	color:	$color-grey-darkest;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding: 40px 0;
}

ul.projects{
	list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}


ul.projects li {
    margin: 0 0 30px 0;
}

.card{
    
    color:#fff;
    height: 187px;
    text-align: center;
    background: url("/assets/imgs/img_projectCover01.png") no-repeat top center;
    background-size: 100% auto;
    position: relative;
    @include box-shadow(0px, 2px, 2px, 0px, rgba(0,0,0,0.1));
    @include transition(all, 0.3s, ease);
    
    .cardScrim {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 187px;
        background-color: rgba(0,0,0,0);
        @include transition(all, 0.3s, ease);
        
        &:hover {
            background-color: rgba(0,0,0,0.5);
            @include transition(all, 0.3s, ease);
        }
    }
    
    .cardInfoBg {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color: white;
        z-index: 1;
    }
    
    &:hover>.cardInfo .actionBar {
        opacity: 1;
        @include transition(all, 0.3s, ease);
    }
    
    &:hover>.cardInfo {
        @include translate(0, -50px);
        @include transition(all, 0.3s, ease);
    }
    
//    .cardImg {
//        height: 125px;
//        background-color: burlywood;
//    }
    
    .cardInfo {

        background-color: white;
        height: 60px;
        padding-top: 13px;
        position: relative;
        top: 65%;
        @include transition(all, 0.3s, ease);
        z-index: 2;
        
        a {
            text-decoration: none;
        }

        .cardTitle {
            font-size: $font-size-regular;
            color: $color-grey-darkest; 
            margin-bottom: 4px;
        }

        .cardSubTitle {
            font-size: $font-size-small;
            color: $color-grey;           
        }

        .actionBar {
            width: 100%;
            padding: 16px 0;
            opacity: 0;
            @include transition(all, 0.1s, ease);

            ul  {
                left: 50%;
                position: relative;
                margin-left: -45px;
                list-style:none;
                padding: 0;

                li {
                    width: 36px;
                    height: 36px;
                    @include border-radius(50%);
                    border: 1px solid $color-grey-dark;
                    float: left;
                    margin: 0;       
                    margin-right: 16px;
                    @include transition(all, 0.2s, ease);

                    &:nth-child(1) {
                        background: url("/assets/imgs/ic_trash.svg") no-repeat center center white;
                        background-size: 16px 16px;           
                    }

                    &:nth-child(2) {
                        background: url("/assets/imgs/ic_duplicate.svg") no-repeat center center white;
                        background-size: 16px 16px;            
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    &:hover, &:focus {
                        background-color: #eeeeee;
                        cursor: pointer;
                        @include transition(all, 0.2s, ease);
                    }
                }
            }
        }
    }
}

.custom-table {
    
    .table-project-overview {       
        padding: 0 15px;
        
        thead tr th:nth-child(1) {width: 20%; cursor: pointer;} //name
        thead tr th:nth-child(2) {width: 60%;} //details
        thead tr th:nth-child(3) {width: 20%;} //date      
        .table-utl ul li {
            &:nth-child(1) {
                background: url("/assets/imgs/ic_trash.svg") no-repeat center center white;
                background-size: 16px 16px; }
            &:nth-child(2) {background: url("/assets/imgs/ic_duplicate.svg") no-repeat center center white;
            background-size: 16px 16px; }
        }
    }
    
    .table-project-details {

        thead tr th:nth-child(1) {width: 20%; cursor: pointer;}  //name
        thead tr th:nth-child(2) {width: 20%;}  //applicants
        thead tr th:nth-child(3) {width: 40%;}  //description
        thead tr th:nth-child(4) {width: 20%;}  //open until
        .table-utl ul li {
            &:nth-child(1) {background: url("/assets/imgs/ic_trash.svg") no-repeat center center white;
            background-size: 16px 16px; }
            &:nth-child(2) {background: url("/assets/imgs/ic_share.svg") no-repeat center center white;
            background-size: 16px 16px; }
        }
    }
    
    .table-application-requirements {
        thead tr th:nth-child(1) {width: 40%; cursor: pointer;} //type
        thead tr th:nth-child(2) {width: 40%;} //format
        thead tr th:nth-child(3) {width: 20%;} //required     
    }
    
    .table {
        font-size: $font-size-regular;

        tbody tr {
            cursor: pointer;
            td {
                vertical-align: middle;
                position: relative;
                height: 51px;
                           
                .tableHover {
                    display: inline;
                    opacity: 1;
                }
                
                .table-utl {
                    position: absolute;
                    top: 50%;
                    right: 0px;
                    margin: -18px 0 0 0;
                    display: inline;
                    height: 36px;
                    opacity: 0;
                    @include transition(all, 0.2s, ease);
                    

                    ul {
                        height: 36px;

                        li{
                            display: inline;
                            float: right;
                            margin-left: 6px;
                            width: 36px;
                            height: 36px;
                            @include border-radius(50%);
                            border: 1px solid $color-grey-dark;
                            @include transition(all, 0.2s, ease);

                            &:hover, &:focus {
                                background-color: #eeeeee;
                                cursor: pointer;
                                @include transition(all, 0.2s, ease);
                            }
                        }
                    }
                }  
            }

            &:hover>td .table-utl {
                opacity: 1;
                @include transition(all, 0.2s, ease);
                @include translate(-10px, 0);
            }
            
            &:hover>td .tableHover {
                opacity: 0;
                @include transition(all, 0.2s, ease);
                @include translate(-10px, 0);
            }
        }
    }
    .table>thead>tr>th {
        border-bottom: 2px solid $color-grey;
    }
    .table-hover>tbody>tr:hover {
        background-color: $color-grey-light;
    }
}

/***************************
          Side panel
***************************/

.aside {
    width: 400px;
    padding: 0 20px 20px 20px;
    
    .asideMessage {
        p {
            font-size: $font-size-small;
            color: $color-grey;
            line-height: 18px;
            margin-bottom: 8px;

            a {
                color: $color-blue;
                @include transition(all, 0.2s, ease);
                &:hover, &:focus {
                    color: $color-blue-lighten;
                    text-decoration: none;
                    @include transition(all, 0.2s, ease);
                }
            }
        }
    }
    
    .custom-close {
    width: 28px;
    height: 28px;
    background-color: red;
    position: absolute;
    top: 20px;
    right: 20px;
    background: url("/assets/imgs/ic_cross.svg") no-repeat center center;
    @include transition(all, 0.2s, ease);
    
        &:hover, &:focus {
            cursor: pointer;
            @include transition(all, 0.2s, ease);
            @include rotate(180deg);
        }
    }

    .asideTitle {
        font-size: $font-size-side-heading;
        text-transform: uppercase;
        text-align: center;
        color:	$color-grey-darkest;
        letter-spacing: 6px;
        padding: 20px;
    }

    .asideSubtitle {
        font-family: $font-primary;
        font-size: $font-size-side-formtitle;
        color:	$color-grey;
        font-weight: 400;
    }
    
    section {
        margin-bottom: 28px;
    }
    
    .custom-btn-cancel {
        background-color: $color-grey-dark;
        width: 170px;
        float: left;
        margin-right: 20px;
        @include transition(all, 0.8s, ease);
        &:hover, &:focus {
            background-color: $color-grey-darken;
            @include transition(all, 0.8s, ease);
        }
    }
    .custom-btn-delete {
        background-color: $color-red;
        width: 170px;
        float: left;
        @include transition(all, 0.8s, ease);
        &:hover, &:focus {
            background-color: $color-red-darken;
            @include transition(all, 0.8s, ease);
        }
    }
    
    .checkbox { 
        label {
            display: block;
            font-size: $font-size-regular;
            line-height: 24px;
            padding-left: 0;
            margin: 0 0 10px 24px; 
            input[type="checkbox"] {
                display: none;
            }
            span {
                float: left;
                margin: 3px 3px 0 -24px;
                display:inline-block;
                width: 18px;
                height: 18px;
                border: none;
                background-color: $color-grey-light;
                cursor:pointer;
                vertical-align: middle;
                
            }
            input:checked + span {
                background: url("/assets/imgs/ic_check.svg") no-repeat center center $color-grey-light;
                background-size: 12px 12px;
            }
        }
    }
    
}

.aside-backdrop.am-fade, .modal-backdrop.am-fade {
    background: rgba(0,0,0,.7);
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    @include transition(all, 0.2s, ease);
}



.form-group {
    
    margin-bottom: 28px;
      
    label {
        font-family: $font-primary;
        font-size: $font-size-side-formtitle;
        color:	$color-grey;
        font-weight: 400;
    }
    
    input {
        font-family: $font-primary;
        font-size: $font-size-regular;
        @include border-radius(0);
        border: none;
        border-bottom: 1px solid $color-grey-darkest;
        background-color: transparent;
        
        &:focus {
            outline: none;
            border-bottom: 1px solid $color-blue;
        }
    }
    
    input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
}

.custom-form {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 0;
    font-size: $font-size-regular;
    line-height: 1.42857143;
}

.custom-form-textarea {
    resize: vertical;
    display: block;
    width: 100%;
    padding: 6px 0;
    line-height: 1.42857143;
    font-family: $font-primary;
    font-size: $font-size-regular;
    @include border-radius(0);
    border: none;
    border-bottom: 1px solid $color-grey-darkest;

    &:focus {
        outline: none;
        border-bottom: 1px solid $color-blue;
    }
}

.custom-alert {
    color: $color-red;
    outline: none;
    padding: 12px;
    font-size: $font-size-regular;
    border: 1px solid $color-red;
    margin-bottom: 20px;
}

/***************************
      Project overview
***************************/

.custom-back {
    position: absolute;
    top: 42px;
    left: 0;
    width: 28px;
    height: 28px;
    background: url("/assets/imgs/ic_back.svg") no-repeat center center;
    background-size: 24px 24px;
    @include transition(all, 0.2s, ease);
    &:hover, &:focus {
        cursor: pointer;
        opacity: 0.7;
        filter: alpha(opacity=70);
        @include transition(all, 0.2s, ease);
    }
}

.custom-page-action {
    position: absolute;
    top: 42px;
    right: 0;   
    ul {
        list-style: none;
        li{
            display: inline;
            float: right;
            margin-left: 10px;
            padding-left: 50px;            
            &:nth-child(1){
                background: url("/assets/imgs/ic_share_w.svg") no-repeat left 15px center;
                background-size: 24px 24px;
                background-color: $color-grey-dark;
                @include transition(all, 0.8s, ease);
                &:hover, &:focus {
                    cursor: pointer;
                    background-color: $color-grey-darken;
                    @include transition(all, 0.8s, ease);
                }
            }
            &:nth-child(2){
                background: url("/assets/imgs/ic_edit_w.svg") no-repeat left 15px center;
                background-size: 24px 24px;  
                background-color: $color-grey-dark;
                @include transition(all, 0.8s, ease);
                &:hover, &:focus {
                    cursor: pointer;
                    background-color: $color-grey-darken;
                    @include transition(all, 0.8s, ease);
                }
            }
            &:last-child {
                margin-left: 0;
            }
        }
    }
}

.projectDetails {
    background-color: white;
    padding: 0;
    margin-bottom: 28px;
    @include box-shadow(0px, 2px, 2px, 0px, rgba(0,0,0,0.1));
    
    section {
        padding: 15px;
        .projectDetailsTitle {
            text-transform: uppercase;
            font-weight: 600;
        }
        
        &:nth-child(1){
            img {
                margin-top: -30px;
            }
        }
        &:nth-child(2){
            
        }
    }
}

/***************************
          Apply
***************************/

.applyPage {
    padding: 56px 0 60px 0;
    position: relative;
//    margin-bottom: -60px;

    .applyPageLeftBg { 
        width: 50%;  
        position: absolute;
        top:0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: white;}

    .applyPageLeft, .applyPageRight {
        padding: 0 15px;
    }
    
    .applyLogo {
        position: absolute;
        top: 40px;
        left: 50%;
        margin-left: -27px;
        width: 54px;
        height: 54px;
        z-index: 10;
    }
    
    .poweredBy {
        margin-top: 30px;
        float: right;
        p {
            color: $color-grey;
        }
        .powerLogo {
            width: 136px;
            height: auto;
            vertical-align: middle;
            margin-left: 10px;
            opacity: 0.5;
            filter: alpha(opacity=50);
            @include transition(all, 0.2s, ease);
                &:hover, &:focus {
                cursor: pointer;
                opacity: 1;
                filter: alpha(opacity=100);
                @include transition(all, 0.2s, ease);
            }
        }       
    }
}



.pageSubtitle {
    text-align: center;
    font-size: $font-size-page-subheading;
    color: $color-grey-dark;
    line-height: 30px;
    margin: -30px 0 30px 0;
}

.button {
            text-align: center;
            -moz-appearance: button;
            /* Firefox */
            -webkit-appearance: button;
            /* Safari and Chrome */
            padding: 10px;
            margin: 10px;
            width: 200px;
            height: 50px;
        }

.drop-box {
    border: 1px dashed $color-grey-light;;
    width: 100%;
    height: 50px;
    text-align: center;   
    margin-bottom: 5px;
    p {
        line-height: 50px;
        a {
            color: $color-blue;
            @include transition(all, 0.2s, ease);
            &:hover, &:focus {
                cursor: pointer;
                color: $color-blue-lighten;
                text-decoration: none;
                @include transition(all, 0.2s, ease);
            }
        }
    }
}
.dragover {
    border: 3px dashed $color-blue;
}

.div-table {
    display:table;         
    width:100%;
    font-size: $font-size-regular;
 
    .div-table-row {
        display:table-row;
        width:auto;
        clear:both;
        
        div {
            &:nth-child(1) {
                width: 20%;
                font-weight: 600;
            }
            &:nth-child(2) {width: 80%;}
        }
        
        .div-table-col {
            float:left;/*fix for  buggy browsers*/
            display:table-column; 
            padding: 4px 0;
        }
    }
}


/***************************
       Privacy policy
***************************/

.pageContainer {
    padding-top: 60px;
    span {
        font-weight: 600;
    }
    ul {list-style-type: square;}
}

.pleaseRead {
    border: 1px solid $color-grey-darkest;
    padding: 10px 20px 2px 20px;
    margin-bottom: 30px;
    p {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 10px;
    }
}

.privacyTitle {
    font-size: 24px;
    color: $color-blue;
    margin: 30px 0 10px 0;
}

.privacySubtitle {
    font-size: 16px;
    color: $color-grey;
    line-height: 28px;
    margin-bottom: 10px;
}

/***************************
          Footer
***************************/

.footer {
    height: 56px;
    line-height: 56px;
    color: white;
    background-color: $color-blue;
    font-size: $font-size-regular;
    margin-top: 60px;
    
    .container {
        padding: 0 20px;
    }
    
    p {
        padding-right: 35px;
        line-height: 56px;
        margin: 0;
        display: inline;
        float: left;
        position: relative;
        &:after {
            content:""; 
            background: white; 
            position: absolute; 
            top: 18px; 
            right: 0; 
            height: 19px; 
            width: 1px;
        } 
    }
    .custom-nav-footer {
        
        ul {        
            float: left;
            margin: 0;
            -webkit-padding-start:0px;
        
            li {
                display: inline;
                margin: 0 0 0 35px;

                a {
                    color: white;
                    @include transition(all, 0.2s, ease);

                    &:hover {
                        cursor: pointer;
                        opacity: 0.7;
                        filter: alpha(opacity=70);
                        text-decoration: none;
                        @include transition(all, 0.2s, ease);
                    }
                }
            }
        }
    }
    
    .social {
        ul li {
            float: right;
            display: inline;
            margin: 4px 0 0 20px;
            background-color: red;
            width: 28px;
            height: 28px;
            @include transition(all, 0.2s, ease);
            
            &:nth-child(1) {
                background: url("/assets/imgs/ic_social_fb.svg") no-repeat center center;
                background-size: 22px 22px;
            }
            &:nth-child(2) {
                background: url("/assets/imgs/ic_social_twitter.svg") no-repeat center center;
                background-size: 24px 24px;
            }
            &:hover, &:focus {
                        cursor: pointer;
                        opacity: 0.7;
                        filter: alpha(opacity=70);
                        text-decoration: none;
                        @include transition(all, 0.2s, ease);
            }
        }
    }
}

/*********************************************************************************
                                  Mobile view
*********************************************************************************/

@media screen and (max-width: 989px) { 
    .pageTitleMobileOffset {padding-top: 120px;}
}


@media screen and (max-width: 767px) { 
        
    /***************************
                Nav
    ***************************/

    .navbar-nav {
        margin: 0 0 0 0;
        overflow-x: hidden;
    }
    
    .navbar-collapse {
        padding: 0;
        overflow-x: hidden;
    }
    
    .custom-site-nav ul {
        background-color: white;
        float: none;      
        &:after {display: none;}
        li {
            text-align: center;   
            a {
                width: 100%;
                height: 57px;
                display: block;
                border-bottom: 1px solid $color-grey-light;
                margin: 0 15px 0 0;
                @include transition(all, 0.8s, ease);
                &:hover, &:focus {
                    background-color: $color-grey-lightest;
                    @include transition(all, 0.8s, ease);
                }  
            }
        }
    }
    .custom-action-nav ul {
        float: none; 
        height: 57px;
        &:after {display: none;}
        li {                         
            &:first-child a {
                border-right: 1px solid white;
                color: white;
                margin: 0;
                @include transition(all, 0.8s, ease);
                &:hover, &:focus {
                    background-color: $color-blue-darken;
                    @include transition(all, 0.8s, ease);
                    color: white;
                }  
            }
            a {
                height: 57px;
                display: inline-block;
                margin: 0;
                padding: 0;
                float: left;
                width: 50%;
                text-align: center;
                color: white;
                background-color: $color-blue;
                @include transition(all, 0.8s, ease);
                &:hover, &:focus {
                    background-color: $color-blue-darken;
                    @include transition(all, 0.8s, ease);
                }  
            }
            a.custom-btn-primary-small {
                padding: 0;
                @include box-shadow (0, 0, 0, 0, 0);
            }
        }
    }
    
    .custom-site-nav-in ul{
        background-color: white;
        float: none;      
        li {
            text-align: center;
            a {
                padding: 0;
                width: 100%;
                height: 57px;
                display: block;
                border-bottom: 1px solid $color-grey-light;
                margin: 0 15px 0 0;
                @include transition(all, 0.8s, ease);
                &:hover, &:focus {
                    background-color: $color-grey-lightest;
                    @include transition(all, 0.8s, ease);
                }  
            }
            &:nth-child(2) {
            position: relative;
            top:0;
            left: 0;
            }
        }
    
    }
    
    /***************************
            Landing page
    ***************************/
    
    section.home {
        padding-bottom: 80px;
        .brandMessage {
            padding-top: 130px;
            .brandHeading {font-size: 26px;}
            .brandSubheading {font-size: 18px;}
        }
    }
    
    /***************************
               Footer
    ***************************/
    
    .footer {
        text-align: center;
        line-height: 40px;
        height: 130px;
        .container {
            padding-top: 20px;
        }
        p {
            text-align: center;
            padding-right: 0;
            float: none;
            line-height: 24px;
            &:after {
                content:""; 
                display: none;
            } 
        }
        .custom-nav-footer {
            ul {     
                text-align: center;
                float: none;
                li  {
                    position: relative;
                    &:after {
                        content:""; 
                        background: white; 
                        position: absolute; 
                        top: 0px; 
                        right: -20px; 
                        height: 19px; 
                        width: 1px;
                    } 
                    &:first-child {
                        margin-left: 0;                 
                    }
                    &:last-child {
                        &:after {
                            content:""; 
                            display: none;
                        }                 
                    }
                }
            }
        }

        .social {
            ul {
                margin: 0 auto;
                width: 76px;
                padding: 0;
                float: none;   
                height: 28px;

                li {
                    float: left;
                    margin: 0;
                    &:nth-child(2) {
                        margin-left: 20px;
                    }
                }
            }
        }
    }
    
}