@import 'viewAuditionPage';

/***************************
           Font
***************************/

$font-primary: 'Open Sans', sans-serif;

$font-size-page-heading: 24px;
$font-size-page-subheading: 18px;

$font-size-regular: 12px;
$font-size-small: 10px;

/***************************
          Colors
***************************/

$color-grey-darkest: #242424;
$color-grey-darken: #444444;
$color-grey-dark: #666666;
$color-grey: #999999;
$color-grey-light: #cccccc;
$color-grey-lightest: #eeeeee;

$color-blue-darken: #069A9F;
$color-blue: #06bcc2;
$color-blue-lighten: #48d8d8;

/***************************
     Reusable elements
***************************/

@mixin box-shadow($top, $left, $blur, $spread, $color) {
    -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
}

@mixin transition($property, $duration, $ease) {
  -webkit-transition: $property $duration $ease;
  -moz-transition: $property $duration $ease;
  -ms-transition: $property $duration $ease;
  -o-transition: $property $duration $ease;
  transition: $property $duration $ease;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.custom-btn-primary-small {   
        border: 0;
        color: white;  
        background-color: $color-blue; 
        padding: 9px 20px;
        @include box-shadow(0px, 1px, 1px, 0px, rgba(0,0,0,0.2));
        @include transition(all, 0.8s, ease);
        &:hover, &:focus {
            background-color: $color-grey-darken;
            color: white; 
            @include transition(all, 0.8s, ease);
        }  
}

.custom-btn-secondary-small {   
        border: 0;
        color: white;  
        background-color: $color-grey-dark; 
        padding: 9px 20px;
        @include box-shadow(0px, 1px, 1px, 0px, rgba(0,0,0,0.2));
        @include transition(all, 0.8s, ease);
        &:hover, &:focus {
            background-color: $color-grey-darken;
            color: white; 
            @include transition(all, 0.8s, ease);
        }  
}

/***************************
           Global
***************************/

.pagination, .carousel, .panel-title a { cursor: pointer; }

.container-fluid{
	position:relative;
	top:8px;
	padding:1px;
}

body {
    font-family: $font-primary;
    background-color: #eeeeee;
}

/***************************
           Header
***************************/

header {
    background-color: #ffffff;
    @include box-shadow(0px, 2px, 3px, 0px, rgba(0,0,0,0.1));
}

.logoNav {
        fill: $color-grey-darkest;
        width: 150px;
        float: left;
        padding: 17px 0 17px 15px;
        @include transition(all, 0.2s, ease);
        &:hover {
            fill: $color-blue;
            @include transition(all, 0.2s, ease);
        }   
    }

.custom-site-nav { 

    ul {
        position: relative;
        float: right;
        &:after {
            content:""; 
            background: #ccc; 
            position: absolute; 
            top: 18px; 
            right: 0; 
            height: 19px; 
            width: 1px;
        }
    
    }
    
    li {
        a {  
            
            display: inline;
            font-size: $font-size-regular;
            color: $color-grey-dark;
            line-height: 56px;
            margin: 0 35px 0 0;
            padding: 0;
            @include transition(all, 0.2s, ease);
        }       
        a:hover, a:focus  {
            background-color: transparent;
            color: $color-blue;
            @include transition(all, 0.2s, ease);
        }
        
    }
}

.custom-site-nav-in {
    
    ul {float: left;}
    
    li {
        a {             
            display: inline;
            font-size: $font-size-regular;
            color: $color-grey-dark;
            line-height: 56px;
            margin: 0 0 0 35px;
            padding: 0 0 0 35px;
            @include transition(all, 0.2s, ease);
        }       
        a:hover, a:focus  {
            background-color: transparent;
            color: $color-blue;
            @include transition(all, 0.2s, ease);
        }
        a:first-child {
        border-left: #ccc 1px solid;}
    }

}

.custom-action-nav  {
    
    ul {
        list-style-type: none;
        float: right;
        margin: 0;
        padding: 0;
    }
    
    li {           
        display: inline;
        
        a {
            font-size: $font-size-regular;        
            line-height: 56px;
            margin-left: 35px;
            text-decoration: none;
        }   
        
        &:first-child { 
            
            a {
                color: $color-grey-dark;
                @include transition(all, 0.2s, ease);
            }
            a:hover, a:focus  {
                background-color: transparent;
                color: $color-blue;
                @include transition(all, 0.2s, ease);
            }

        } 

    }

}

/***************************
           Homepage
***************************/

div.mainContent{
    margin: 0 -10px;
}

div.pageHeader{
    margin-bottom: 28px;

}

.pageTitle{
    font-family: $font-primary;
	text-align: center;
	font-size: $font-size-page-heading;
	color:	$color-grey-darkest;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding: 40px 0;
}

.projectHeader {
    
}

ul.projects{
	list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}


ul.projects li {
    width:25%;
    display: block;
    float: left;
    margin: 0;

}

.card{
    
    color:#fff;
    margin: 10px;
    height: 187px;
    text-align: center;
    background-color: grey;
    @include box-shadow(0px, 2px, 2px, 0px, rgba(0,0,0,0.1));
    
    .cardImg {
        height: 125px;
        background-color: burlywood;
    }
    
    .cardInfo {
        
        background-color: white;
        height: 62px;
        
        a {
            text-decoration: none;
        }

        .cardTitle {
            font-size: $font-size-regular;
            color: $color-grey-darkest; 
            padding-top: 4px;
        }

        .cardSubTitle {
            font-size: $font-size-small;
            color: $color-grey;  
            
        }

        .actionBar {

            padding: 16px 0;

            ul  {
                left: 50%;
                position: relative;
                margin-left: -44px;
                list-style:none;
                padding: 0;

                li {
                    width: 36px;
                    height: 36px;
                    @include border-radius(50%);
                    border: 1px solid $color-grey-dark;
                    float: left;
                    margin: 0;       
                    margin-right: 16px;
                    @include transition(all, 0.2s, ease);

                    &:nth-child(1) {
                        background: url("/assets/imgs/ic_trash.svg") no-repeat center center white;
                        background-size: 16px 16px;           
                    }

                    &:nth-child(2) {
                        background: url("/assets/imgs/ic_duplicate.svg") no-repeat center center white;
                        background-size: 16px 16px;            
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    &:hover, &:focus {
                        background-color: #eeeeee;
                        cursor: pointer;
                        @include transition(all, 0.2s, ease);
                    }
                }
            }
        }
    }
}






